/*  导航栏  */

.daohang{
    height: 60px;
    width: 100%;
}
.daohangImg{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.logo{
    position: absolute;
    top: 0;
    height: 60px;
 
    left: 100px;
    z-index: 999;
}
.a_container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
  
    display: flex;
    justify-content:center;
    z-index: 1;
   
}

.a_container a:link{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 130px;
    font-size: 15px;
    text-align: center;
    z-index: 102;
    line-height: 60px;
    
    
}

.a_container a:visited{
    text-decoration: none;
    color: white;
  
    height: 100px;
    width: 100px;
    font-size: 15px;
    z-index: 999;
}
.a_container a:hover{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 130px;
    font-size: 18px;
    
    background-color: #94874e;  

}
select{
    position: absolute;
   background-color: #00000000;
   color: white;
    right: 30px;
    height: 30px;
    width: 80px;
    background-color: none;
    z-index: 998;
    top: 15px;
    border: none;
    outline: none;
    border-bottom: solid 1px #4FC3F7;
    padding: 0;
}
option{
    background: #33415e;
    color: white;
    outline: none;
    border:none;
    padding: 0;
    margin: 0;
}

/* 组件 */
.all{
    position: absolute;
    width: 100%;
    top: 60px;
}

/* 首页 swiper  */
body,
html {
    padding: 0;
    margin: 0;
    position: relative;

}

.swiper-container {
    position: absolute;
    width: 100%;
    height: 300px;
    margin: 50px auto;
    top: 0px;
}


.swiper-wrapper img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.swiper-wrapper p{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 300px;
    line-height: 300px;
    text-align: center;
    width: 100%;
    font-size: 45px;
    letter-spacing: 20px;
    color: #FFFF8D;
    z-index: 999;
}
.swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
   
}
.middleBgd{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
}
.things{
  position: absolute;
  width: 1100px;
  height: 1000px;
  left: 0;
  right: 0;
  margin: auto;
}
.thingsBgd{
    position: absolute;
    height: 1000px;
    width: 1100px;
    
   
}
.jindutiaoContainer{
    position: absolute;
    width: 4px;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    height: 900px;
    background-color: #94874e;

}

/* 左边事件 */
.thingsLeft{
    position: absolute;
    left: 10px;
    height: 900px;
    top: 70px;
    width: 500px;
    
   
}
.shouye_shijian_one{
     width: 460px;
     height: 150px;
     border-bottom: #94874e solid 1px;
    
     
}
.shouye_shijian_one:hover{
  background-color: #cbc6af;
}
.shouye_shijian_two{
    position: relative;
   top: 10px;
    width: 460px;
    height: 150px;
    border-bottom: #94874e solid 1px;
   
    
}
.shouye_shijian_two:hover{
    background-color: #cbc6af;
}
.left_img{
  position: absolute;
  height: 100px;
  width: 150px;
  left: 25px;
  top: 25px;
}
.left_alt{
    position: absolute;
    width: 150px;
    height: 20px;
    top: 120px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    left: 20px;

}
.left_title{
 position: absolute;
 width: 300px;
 top: 0px;
 height: 20px;
 right: 0;
 text-align: center;
 font-size: 15px;
}
.left_info{
    position: absolute;
    left: 200px;
    width: 250px;
    right:20px;
    top: 30px;
    height: 120px;
    font-size: 12px;
}
.timeLeft{
    position: absolute;
   
    text-align: left;
    right: 552px;
    font-size: 10px;
    width: 60px;
    height: 20px;
    border-bottom: #94874e solid 2px;
    z-index: 998;
}
.timeRight{
    position: absolute;
   
    text-align:right;
    left: 552px;
    font-size: 10px;
    width: 60px;
    height: 15px;
    line-height: 15px;
  
    border-bottom: #94874e solid 2px;
    z-index: 998;

}
.time_1{top: 125px; }
.time_2{ top:150px;}
.time_3{top: 275px;}
.time_4{ top:300px;}
.time_5{top: 425px;}
.time_6{top: 450px;}
.time_7{top: 575px;}
.time_8{   top: 600px;}
.time_9{top: 725px;}
.time_10{top: 750px;}
.time_11{ top: 875px;}
.time_12{top: 900px;}

.circle{
 position: absolute;
 left: 537.5px;
 height:15px;
 width: 15px;
 z-index: 999;
 /*
 background-color: #94874e;
 border:solid #c6a300 5px;
 */
 border-radius: 100%;
}
.span_1{
    top:145px;
}
.span_2{
    top:295px;
}
.span_3{
    top:445px;
}
.span_4{
    top:595px;
}
.span_5{
    top:745px;
}
.span_6{
    top:895px;
}



/*  右边事件*/
.thingsRight{
    position: absolute;
    right: 10px;
    height: 900px;
    top: 70px;
    width: 500px;

}
.shouye_shijian_right{
     position: relative;
     top: 10px;
     width: 460px;
     height: 150px;
     border-bottom: #94874e solid 1px;
  
     
}
.shouye_shijian_right:hover{
  background: #cbc6af;
}

footer{
    position: absolute;
    top: 1300px;
    height: 100px;
    width: 100%;
    z-index: 900;
   
}
.footer_bgd{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.footerAll{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.footerAll>a:link{
    text-decoration: none;
    color: black;
}


.mail_a:hover{
    color: #ffc9bb;
}
.callUs{
    position: absolute;
    left: 200px;
    font-size: 12px;
    height: 100px;
    width: 150px;
   
    margin: 0;
    padding: 0;
    
}
.callUs>span{
    position: absolute;
    top: 5px;
    text-align: center;
    width: 100%;
    font-size: 14px;
    height: 20px;
    line-height: 20px;

}
.callusimg{
    position: absolute;
    top: 25px;
    height: 30px;
    width: 30px;
    left:0;
    right: 0;
    margin: auto;
}
.phone{
    position: absolute;
   margin: 0;
   top: 55px;
    height: 20px;
    width: 100%;
 text-align: center;
}
.aboutUs{
    top: 10px;
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    line-height: 30px;
    width: 150px;
    color: #000000;
    text-align: center;
}
.aboutUs>a:link{
    text-decoration: none;
  color: #000000;
  font-size: 12px;
  text-align: center;
}
.aboutUs>a:hover{
 color: #ffc9bb;
}
.aboutUs>a:visited{
    color: #000000;
   }
.item_site{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 150px;
    height: 50px;
    
    font-size: 12px;
    
}
.item_site img{
  position: absolute;
  width: 30px;
  height: 30px;
}
.item_site>a:link{
    text-decoration: none;
    position: absolute;
    left: 35px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    font-size: 12px;
}
.item_site>a:hover{
 color: #ffc9bb
}
.item_site>a:visited{
    color: #000000;
   }
.banquan{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    position: absolute;
    bottom: 5px;
    height: 20px;
    width: 150px;
    text-align: center;
    line-height: 20px;
    left: 0;
    right: 0;
    margin: auto;
}
.beian{
    position: absolute;
    right: 0;
 left: 0;
 width: 100px;
 height: 25px;
 margin: auto;
 bottom: 10px;
 text-align: center;
}
.buttom_buttom{
    position: absolute;
    top: 1400px;
    height: 30px;
    width: 100%;
    background-color: #33415e;
}
.buttom_buttom>a:link{
    margin: auto;
    bottom: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    color: #9E9E9E;
    height: 30px;
    top: 0;
    width: 150px;
    font-size: 10px;
    text-align: center;
    z-index: 999;
    line-height: 30px;
}
.buttom_buttom>a:hover{
    color: #ffc9bb;
}

.zhengfu_gaikuang{


}
.zhengfu_gaikuang h1{
  text-align: center;
}
.zhengfu_gaikuang p{
    font-size: 15px;
    text-indent: 30px;
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 30px;
}

   
.image-slot{
  color: #4FC3F7;
  width: 100%;
  text-align: center;
}
.item {
   
    margin-top: 55px;
    margin-right: 40px;
  } 
  .bianminfuwu{
      position: relative;
  } 
.bianminfuwu h1{
    text-align: center;
}
.bianminfuwu p{
    font-size: 15px;
    text-indent: 30px;
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 30px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.pingfen{
    position: absolute;
    right: 400px;
    top: 0;

}


.tongxun_phone{
    position: absolute;
    width: 350px;
    height: 700px;
    left: 80px;
    top: 50px;   
}
.tongxun_phone_img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.tongxun_phone_head{
    position: absolute;
    margin: 0;
    top: 40px;
    left: 20px;
    width: 310px;
    height: 30px;
    font-size: 14px;
    z-index: 999;
    border-bottom: 1px solid #616161;

}
.tongxun_phone_main{
    position: absolute;
    top: 75px;
    width: 311px;
    height: 550px;
    left: 24px;
   
    z-index: 999;
}
.tongxun_phone_foot{
    position: absolute;
    bottom: 30px;
    width: 310px;
    height: 30px;
    left: 20px;

    z-index: 999;
    margin: 0;
}
.tongxun_phone_main_info{
    height: 25px;
    font-size: 13px;
   
    line-height: 25px;
    color: #455A64;
    margin: 0;
}
.tongxun_phone_right{
    position: absolute;
    width: 350px;
    height: 700px;
    right: 80px;
    top: 50px;  
}
.card_container{
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.el-menu-item{
    width: 100px;
}
.xiangguanlianjie{
    width:100%;
    line-height: 25px;
}
.weilai_img_container{
   
    width: 100%;
    height: 650px;
   
    margin:50px 0;
}