/*  导航栏  */
.daohang{
    height: 60px;
    width: 100%;
}
.daohangImg{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.logo{
    position: absolute;
    top: 0;
    height: 60px;
 
    left: 100px;
    z-index: 999;
}
.a_container{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 60px;
  
    display: flex;
    justify-content:center;
    z-index: 1;
   
}

.a_container a:link{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 130px;
    font-size: 15px;
    text-align: center;
    z-index: 102;
    line-height: 60px;
    
    
}

.a_container a:visited{
    text-decoration: none;
    color: white;
  
    height: 100px;
    width: 100px;
    font-size: 15px;
    z-index: 999;
}
.a_container a:hover{
    text-decoration: none;
    color: white;
    height: 60px;
    width: 130px;
    font-size: 18px;
    
    background-color: #94874e;  

}
select{
    position: absolute;
   background-color: #00000000;
   color: white;
    right: 30px;
    height: 30px;
    width: 80px;
    background-color: none;
    z-index: 998;
    top: 15px;
    border: none;
    outline: none;
    border-bottom: solid 1px #4FC3F7;
    padding: 0;
}
option{
    background: #33415e;
    color: white;
    outline: none;
    border:none;
    padding: 0;
    margin: 0;
}

/* 组件 */
.all{
    position: absolute;
    width: 100%;
    top: 70px;
}

/* 首页 swiper  */
body,
html {
    padding: 0;
    margin: 0;
    position: relative;

}

.swiper-container {
    position: absolute;
    width: 100%;
    height: 300px;
    margin: 50px auto;
}


.swiper-wrapper img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.swiper-wrapper p{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 300px;
    line-height: 300px;
    text-align: center;
    width: 100%;
    font-size: 45px;
    letter-spacing: 20px;
    color: #FFFF8D;
    z-index: 999;
}
.swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
   
}
.middleBgd{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1300px;
}
.things{
  position: absolute;
  width: 1100px;
  height: 1000px;
  left: 0;
  right: 0;
  margin: auto;
}
.thingsBgd{
    position: absolute;
    height: 1000px;
    width: 1100px;
    
   
}
.jindutiaoContainer{
    position: absolute;
    width: 4px;
    top: 70px;
    left: 0;
    right: 0;
    margin: auto;
    height: 900px;
    background-color: #94874e;

}

/* 左边事件 */
.thingsLeft{
    position: absolute;
    left: 10px;
    height: 900px;
    top: 70px;
    width: 500px;
    
   
}
.shouye_shijian_one{
     width: 460px;
     height: 150px;
     border-bottom: #94874e solid 1px;
    
     
}
.shouye_shijian_one:hover{
  background-color: #cbc6af;
}
.shouye_shijian_two{
    position: relative;
   top: 10px;
    width: 460px;
    height: 150px;
    border-bottom: #94874e solid 1px;
   
    
}
.shouye_shijian_two:hover{
    background-color: #cbc6af;
}
.left_img{
  position: absolute;
  height: 100px;
  width: 150px;
  left: 20px;
  top: 25px;
}
.left_alt{
    position: absolute;
    width: 150px;
    height: 20px;
    top: 120px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    left: 20px;

}
.left_title{
 position: absolute;
 width: 300px;
 top: 0px;
 height: 20px;
 right: 0;
 text-align: center;
 font-size: 15px;
}
.left_info{
    position: absolute;
    left: 200px;
    width: 250px;
    right:20px;
    top: 30px;
    height: 120px;
    font-size: 12px;
}
.timeLeft{
    position: absolute;
   
    text-align: center;
    right: 552px;
    font-size: 10px;
    width: 60px;
    height: 20px;
    border-bottom: #94874e solid 2px;
    z-index: 999;
}
.timeRight{
    position: absolute;
   
    text-align: center;
    left: 552px;
    font-size: 10px;
    width: 60px;
    height: 20px;
    border-bottom: #94874e solid 2px;
    z-index: 999;

}
.time_1{top: 125px; }
.time_2{ top:150px;}
.time_3{top: 275px;}
.time_4{ top:300px;}
.time_5{top: 425px;}
.time_6{top: 450px;}
.time_7{top: 575px;}
.time_8{   top: 600px;}
.time_9{top: 725px;}
.time_10{top: 750px;}
.time_11{ top: 875px;}
.time_12{top: 900px;}

.circle{
 position: absolute;
 left: 537.5px;
 height:15px;
 width: 15px;
 /*
 background-color: #94874e;
 border:solid #c6a300 5px;
 */
 border-radius: 100%;
}
.span_1{
    top:145px;
}
.span_2{
    top:295px;
}
.span_3{
    top:445px;
}
.span_4{
    top:595px;
}
.span_5{
    top:745px;
}
.span_6{
    top:895px;
}



/*  右边事件*/
.thingsRight{
    position: absolute;
    right: 10px;
    height: 900px;
    top: 70px;
    width: 500px;
}
.shouye_shijian_right{
    position: relative;
    top: 10px;
     width: 460px;
     height: 150px;
     border-bottom: #94874e solid 1px;
  
     
}
.shouye_shijian_right:hover{
  background: #cbc6af;
}

footer{
    position: absolute;
    top: 1360px;
    height: 100px;
    width: 100%;
    z-index: 900;
   
}
.footer_bgd{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
.footerAll{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}
.footerAll a:link{
    text-decoration: none;
    color: black;
}
.footerAll a:visited{
    text-decoration: none;
    color: #000000;

}
.callUs{
    position: absolute;
    left: 200px;
    font-size: 12px;
    height: 100px;
    width: 150px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    
}
.callUs span{
    position: absolute;
    top: 10px;
    left: 40px;
}
.callusimg{
    position: absolute;
    top: 10px;
    height: 30px;
    width: 30px;
    left:0;
}
.aboutUs{
    top: 10px;
    position: absolute;
    height: 30px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0;
    line-height: 30px;
    width: 150px;
    color: #000000;
    text-align: center;
}
.aboutUs a:link{
  color: #000000;
  font-size: 12px;
  text-align: center;
}
.item_site{
    position: absolute;
    top: 10px;
    right: 100px;
    width: 150px;
    height: 50px;
    
    font-size: 12px;
    
}
.item_site img{
  position: absolute;
  width: 30px;
  height: 30px;
}
.item_site a:link{
    position: absolute;
    left: 35px;
    height: 30px;
    line-height: 30px;
    color: #000000;
    font-size: 12px;
}
.beian{
    position: absolute;
    right: 0;
 left: 0;
 width: 100px;
 height: 25px;
 margin: auto;
 bottom: 10px;
 text-align: center;
}
.buttom_buttom{
    position: absolute;
    top: 1460px;
    height: 30px;
    width: 100%;
    background-color: #33415e;
}
.buttom_buttom a:link{
    margin: auto;
    bottom: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    color: #9E9E9E;
    height: 30px;
    top: 0;
    width: 150px;
    font-size: 10px;
    text-align: center;
    z-index: 999;
    line-height: 30px;
}
