/*  导航栏  */

.daohang{
    height: 60px;
    width: 100%;
}
.daohangImg{
    position: absolute;
    height: 100%;
    width: 100%;
    
}
.logo{
    position: absolute;
    top: 0;
    height: 60px;
 
    left: 100px;
    z-index: 999;
}
.el-dropdown{
    position: absolute;
    left: 10px;
    line-height: 60px;
   
}

.el-dropdown-link{
    color: white;
}
.el-dropdown-menu__item{
    width: 80px;
    height: 30px;
    line-height: 30px;
  
    margin: 0 0;
 
  top: 0;
}
.el-dropdown-menu__item a:link{
    text-decoration: none;
    
    color: black;
    height: 30px;
    width: 80px;
    font-size: 15px;
    text-align: center;
    z-index: 999;
    line-height: 30px;
}


.a_container{
    top: 0;
    left: 0;
    position: absolute;
    width: 200px;
    height: 60px;
  
   
    z-index: 1;
   
}

select{
    position: absolute;
   background-color: #33415e;
    color: white;
    right: 5px;
    height: 30px;
    width: 80px;
    background-color: none;
    z-index: 998;
    top: 15px;
    border: none;
    outline: none;
    border-bottom: solid 1px #4FC3F7;
    padding: 0;
}
option{
    background: #33415e;
    color: white;
    outline: none;
    border:none;
    padding: 0;
    margin: 0;
}

/* 组件 */
.all{
    position: absolute;
    width: 100%;
    top: 60px;
}

/* 首页 swiper  */
body,
html {
    padding: 0;
    margin: 0;
    position: relative;

}

.swiper-container {
    position: absolute;
    width: 100%;
    height: 300px;
    margin: 50px auto;
    top: 10px;
}


.swiper-wrapper img{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
}
.swiper-wrapper p{
    position: absolute;
    margin: 0;
    top: 0;
    left: 0;
    height: 300px;
    line-height: 300px;
    text-align: center;
    width: 100%;
    font-size: 45px;
    letter-spacing: 20px;
    color: #FFFF8D;
    z-index: 999;
}
.swiper-slide {
    background: #f1f1f1;
    color: #000;
    text-align: center;
    line-height: 300px;
   
}

.things{
  position: absolute;
  width: 100%;
  height: 1600px;
  left: 0;
  right: 0;
  margin: auto;
}



/* 左边事件 */
.thingsLeft{
    position: absolute;
    left: 10px;
    height: 1600px;
    top: 70px;
    width: 100%;
    
   
}
.shouye_shijian_one{
     width: 460px;
     height: 150px;
     border-bottom: #94874e solid 1px;
    
     
}
.shouye_shijian_one:hover{
  background-color: #cbc6af;
}
.shouye_shijian_two{
    position: relative;
   top: 10px;
    width: 100%;
    height: 150px;
    border-bottom: #94874e solid 1px;
   
    
}
.shouye_shijian_right{
     position: relative;
     top: 10px;
     width: 100%;
     height: 150px;
     border-bottom: #94874e solid 1px;
}
.shouye_shijian_two:hover{
    background-color: #cbc6af;
}
.left_img{
  position: absolute;
  height: 80px;
  width: 100px;
  left: 10px;
  top: 25px;
}
.left_alt{
    position: absolute;
    width: 100px;
    height: 20px;
    top: 120px;
    font-size: 10px;
    text-align: center;
    line-height: 20px;
    left: 10px;

}
.left_title{
 position: absolute;
 width: 300px;
 top: 0px;
 height: 20px;
 right: 0;
 text-align: center;
 font-size: 15px;
}
.left_info{
    position: absolute;
    left: 40%;
    width: 50%;
    right:20px;
    top: 30px;
    height: 120px;
    font-size: 12px;
}
footer{
    position: absolute;
    top: 1900px;
    height: 50px;
    width: 100%;
    z-index: 900;
   
}
.footer_bgd{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    
}
footer>p>span>a:link{
    font-size: 12px;
    color:#37474F;
    text-decoration: none;
}
footer>p>span>a:visited{
    font-size: 12px;
    color:#37474F;
    text-decoration: none;
}
.buttom_buttom{
    position: absolute;
    top: 1950px;
    height: 30px;
    width: 100%;
    background-color: #33415e;
}
.buttom_buttom>a:link{
    margin: auto;
    bottom: 0;
    padding: 0;
    position: absolute;
    text-decoration: none;
    color: #9E9E9E;
    height: 30px;
    top: 0;
    left:0;
    right: 0;
    
    width: 150px;
    font-size: 10px;
    text-align: center;
    z-index: 999;
    line-height: 30px;
}
.buttom_buttom>a:hover{
    color: #ffc9bb;
}


.zhengfu_gaikuang h1{
  text-align: center;
}
.zhengfu_gaikuang p{
    font-size: 15px;
    text-indent: 30px;
    width: 90%;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 30px;
}
.el-table_1_column_1  {
    height: 30px;
    line-height: 30px;
}
.el-table_1_column_2  {
    height: 30px;
    line-height: 30px;
}
.el-table_1_column_3 {
    height: 30px;
    line-height: 30px;
}
   
.el-table_1_column_4  {
    height: 30px;
    line-height: 30px;
}
   
   
   
.image-slot{
  color: #4FC3F7;
  width: 100%;
  text-align: center;
}
.item {
   
    margin-top: 10px;
    margin-right: 40px;
    
  } 
  .bianminfuwu{
      position: relative;
  } 
.bianminfuwu h1{
    text-align: center;
}
.bianminfuwu p{
    font-size: 15px;
    text-indent: 30px;
    width: 800px;
    left: 0;
    right: 0;
    margin: auto;
    line-height: 30px;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.pingfen{
    position: absolute;
    right: 400px;
    top: 0;

}


.tongxun_phone{
    position: absolute;
    width: 100%;
    height: 900px;
    left: 0;
    top: 10px;   
}
.tongxun_phone_img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.tongxun_phone_head{
    position: absolute;
    margin: 0;
    top: 40px;
    left: 6%;
    width: 90%;
    height: 30px;
    font-size: 14px;
    z-index: 999;
    border-bottom: 1px solid #616161;

}
.tongxun_phone_main{
    position: absolute;
    top: 75px;
    width: 90%;
    height: 550px;
    left: 6%;
   
    z-index: 999;
}
.tongxun_phone_foot{
    position: absolute;
    bottom: 40px;
    width: 90%;
    height: 30px;
    left: 10%;

    z-index: 999;
    margin: 0;
}
.tongxun_phone_main_info{
    height: 25px;
    font-size: 13px;
   
    line-height: 25px;
    color: #455A64;
    margin: 0;
}
.tongxun_phone_right{
    position: absolute;
    width: 100%;
    height: 900px;
    left: 0;
    top: 950px;  
}
.card_container{
    position: absolute;
    top: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.weilai_img_container{
   
    width: 100%;
    height: 200px;
   
    margin:10px 0;
}