<!DOCTYPE html>
<html>

<head>


    <link rel="shortcut icon" href="img/icon.ico" />
    <title>the deveronment of internet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <script src="./js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/css.css">

    <link rel="stylesheet" href="./css/swiper.min.css">

 <!-- 引入样式 -->
 <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
 <!-- 引入组件库 -->
 <script src="https://unpkg.com/element-ui/lib/index.js"></script>
 <style>
    .el-image__inner {
        position: absolute;
        width: 500px;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>
</head>

<body>
        <script>
                try {
                    var urlhash = window.location.hash;
                    if (!urlhash.match("fromapp")) {
                        if ((navigator.userAgent.match(/(iPhone|iPod|Android|ios|iPad)/i))){
                            window.location = 'phone.html';
                           
                        }
                    }
                }
                catch (err) {
                }
         </script>
    <div id="app">
        <div class="daohang">
            <img class="logo" src="./img/log2.jpg">
            <img class="daohangImg" src="./img/daohangBgd.jpg">
            <div class="a_container">
                    <a href="#" @click.prevent="comName='shouye'">HOME</a>
                    <a href="#" @click.prevent="comName='zhengfu'">GOVERNMENT</a>
                    <a href="#" @click.prevent="comName='tongxun'">COMM</a>
                    <a href="#" @click.prevent="comName='wenyu'">ENT</a>
                    <a href="#" @click.prevent="comName='gouwu'">SHOPPING</a>
                    <a href="#" @click.prevent="comName='yingxiang'">INFLUENCE</a>
                    <a href="#" @click.prevent="comName='weilai'">PROSPECTIVE</a>

            </div>

           
            <select onchange="window.location=this.value;">
                <option>language</option>
                <option value="index.html"> 中文</option>
                <option style="border:none;" value="english.html"> English</option>
            </select>

        </div>

        <div class="all">

            <keep-alive>
                <component :is="comName"></component>
            </keep-alive>
        </div>

    </div>
    <!--首页-->
    <template id="shouye">
        <div>



            <div class="swiper-container">

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>colorful</p>
                        <img src="./img/slide6.png">
                    </div>
                    <div class="swiper-slide">
                        <p><strong>high efficiency</strong></p>
                        <img src="./img/slide2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <p>convenient</p>
                        <img src="./img/slide3.jpg">
                    </div>
                    <div class="swiper-slide">
                        <p>convenient</p>
                        <img src="./img/slide4.png">
                    </div>
                    <div class="swiper-slide">
                        <p>convenient</p>
                        <img src="./img/slide5.png">
                    </div>
                    <div class="swiper-slide">
                        <p>convenient</p>
                        <img src="./img/slide1.jpg">
                    </div>
                   
                </div>
                <div class="swiper-pagination"></div>

            </div>

            <img class="middleBgd" src="./img/未标题-1.jpg">


            <div class="things">

                <img class="thingsBgd" src="./img/thingsBgd.png">

                <div class="jindutiaoContainer">

                </div>
                <div class="thingsLeft">
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_one">
                        <img class="left_img" src="./img/第一封邮件.jpg">
                        <p class="left_alt">the first email</p>
                        <p class="left_title">E-mail</p>
                        <p class="left_info">
                            Chinese scientists built an e-mail node at the Beijing Institute of Computer Applied Technology (ICA) 
                            and sent the first e-mail to Germany in English and German.</p>

                    </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_two">
                        <img class="left_img" src="./img/shijian_qq.jpg">
                        <p class="left_alt">community</p>
                        <p class="left_title">QQ</p>
                        <p class="left_info">
                            In 1999, Tencent released the first version of QQ, which was not called QQ at that time, but OICQ. 
                            This is the rise of social software.</p>

                    </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_two">
                        <img class="left_img" src="./img/wangyou.jpg">
                        <p class="left_alt">Fantasy Westward Journey</p>
                        <p class="left_title">GAME</p>
                        <p class="left_info">
                            After 2000, China's Internet has entered the era of online games. From the earliest "King of kings", "Stone Age "to"legend",
                            the rise prosperity of online games in China is both inevitable and accidental.
                        </p>

                    </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_two">
                        <img class="left_img" src="./img/xiongmao.jpg">
                        <p class="left_alt">Worm.nimaya</p>
                        <p class="left_title">Virus</p>
                        <p class="left_info">
                            The most famous "native" virus is the worm virus "worm.nimaya" which broke out in October 2006.
                             This virus  cause the system core program to fail to load, and delete important files to finally appear a panda with three incenses.
                             
                        </p>

                    </div>
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_two">
                        <img class="left_img" src="./img/qq.jpg">
                        <p class="left_alt">Notice</p>
                        <p class="left_title">"Star Wars" 3Q</p>
                        <p class="left_info">
                            　Tencent entered the field of Internet security, and the war between Tencent and 360 inevitably broke out.
                              On November 5, the Ministry of Industry and Information Technology, 
                        
                        </p>

                    </div>
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_two">
                        <img class="left_img" src="./img/share.jpg">
                        <p class="left_alt">Shared bicycle</p>
                        <p class="left_title">shared economic</p>
                        <p class="left_info">
                            Shared bicycles, which started to emerge in the second half of 2016, have really brought the shared economy into daily life and become 
                            the darling of capital.
                        </p>

                    </div>

                </div>

                <div class="timeLeft time_1">1987.9.14</div>

                <span v-bind:style="spanBgd1" class="circle span_1 "></span>

                <div class="timeRight time_2">1992.4.20</div>

                <div class="timeLeft time_3">1999</div>

                <span v-bind:style="spanBgd2" class="circle span_2"></span>

                <div class="timeRight time_4">2001.1</div>

                <div class="timeLeft time_5">2000~</div>

                <span v-bind:style="spanBgd3" class="circle span_3"></span>

                <div class="timeRight time_6">2003.5.10</div>

                <div class="timeLeft time_7">2006.10~</div>

                <span v-bind:style="spanBgd4" class="circle span_4"></span>

                <div class="timeRight time_8">2009.7~</div>

                <div class="timeLeft time_9">2010.9.22</div>

                <span v-bind:style="spanBgd5" class="circle span_5"></span>

                <div class="timeRight time_10">2014~</div>

                <div class="timeLeft time_11">2016.6~</div>

                <span v-bind:style="spanBgd6" class="circle span_6"></span>

                <div class="timeRight time_12">2018~</div>




                <div class="thingsRight">
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_right">
                        <img class="left_img" src="./img/拨号上网.png">
                        <p class="left_alt">Dial-up Internet access</p>
                        <p class="left_title">Dial-up Internet access</p>
                        <p class="left_info">
                            It was on April 20, 1994 that China realized the first full-featured TCP/IP link with the Internet.The government take a  special lines to to provide Internet access services to the community.
                        </p>

                    </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_right">
                        <img class="left_img" src="./img/baidu.jpg">
                        <p class="left_alt">Baidu</p>
                        <p class="left_title">Search Engines</p>
                        <p class="left_info">
                            Baidu, founded in January 2000 by Robin Li in Zhongguancun, Beijing, is committed to providing "simple, dependable" information access to people. 
                            At present, it is the largest Chinese search engine in the world.</p>

                    </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_right">
                        <img class="left_img" src="./img/taobao.jpg">
                        <p class="left_alt">Tao bao</p>
                        <p class="left_title">Shopping</p>
                        <p class="left_info">
                            On May 10, 2003, Taobao was born in the lakeside garden of Hangzhou, Zhejiang Province. 
                            In 2006, Taobao became the largest shopping website in Asia.</p>

                    </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_right">
                        <img class="left_img" src="./img/weibo.jpg">
                        <p class="left_alt">Micro-blog</p>
                        <p class="left_title">Micro-blog</p>
                        <p class="left_info">
                            Since the second half of 2009, major portals have opened or tested microblogging functions. 
                           Since  Micrp-blog has become Sina's most imaginative new business platform.
                             
                     </p>

                    </div>
                    
                    
                   
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_right">
                        <img class="left_img" src="./img/didi.jpg">
                        <p class="left_alt">Drip trips</p>
                        <p class="left_title">trip</p>
                        <p class="left_info">
                            In the first half of 2014, "drip taxi" and "fast taxi" burned nearly 2.4 billion yuan in just four months in order to seize the market
                             and frantically distribute red envelopes and subsidies.  
                        </p>

                    </div>

                    
                    
                    
                    
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_right">
                        <img class="left_img" src="./img/cloud.jpg">
                        <p class="left_alt">Icloud Computing</p>
                        <p class="left_title">Icloud Computing</p>
                        <p class="left_info">
                            Icloud computing is a kind of distributed computing and  processed and analyzed by a system composed of 
                             multiple servers to get the results and return them to users.
                        </p>

                    </div>
                </div>
            </div>


        </div>
    </template>


   

    <!--政府组件-->
    <template id="zhengfu">
        <div>

            <el-tabs tab-position="left">

                <el-tab-pane label="概况">

                    <div class="zhengfu_gaikuang">
                        <h1>The Government With Internet</h1>
                        <div style="font-size: 13px; position: absolute;right: 200px;">
                            <span>2019-8-15</span> <span>author:fuyuhui</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片1.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>After the concept of "Internet plus" was put forward in 2015, Premier Li Keqiang put forward "Internet plus government service" in the government work report in 2016.It aim at data sharing.Government departments at all levels should vigorously promote "Internet plus government affairs" to improve public service.
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片8.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>s
                        </br>

                        </br> </br>
                        <p>
                            Internet plus government services has has also broken through the phenomena of "information chimneys" and "data islands". Nowadays, the open platform of government affairs towards the platform of government information and data service and the platform of convenient service for the people.  Whether it is the construction of government websites or the construction of new government media, the practicability and serviceability have been promoted to an unprecedented height, trying to build an new online service
                        </p>
                        </br> 
                        <zhengfu_table></zhengfu_table>

                        </br></br>

                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button"
                                style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                type="primary">share</el-button>
                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:50px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>


                </el-tab-pane>

                <el-tab-pane label="政务公开">
                    <div class="zhengfu_gaikuang">
                        <h1>Openness of Government Affairs</h1>

                        <div style="font-size: 13px; position: absolute;right: 200px;">
                            <span>2019-8-15</span> <span>author:fuyuhui</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片9.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>"Internet plus Open Government" is a way to use modern science and technology to serve the masses more conveniently. Promoting standardization and standardization of grass-roots government affairs openness aims at optimizing government services and improving government effectiveness. Many grass-roots government staff said that the emergence of the Internet has greatly promoted the work of government affairs publicity, providing more open "methods" to enable better and more convenient interaction between grass-roots government departments and the people.
                        </p>


                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片5.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>
                            For a long time, the effect of grass-roots openness has been greatly limited due to unclear standards of open process and other reasons. It can be said that the work of government affairs publicity focuses on the grass-roots level, and the difficulties are also at the grass-roots level. Many grass-roots government staff said that the emergence of the Internet has greatly promoted the work of government affairs publicity.

                            
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片2.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div style="height: 150px;">


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button"
                                style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                type="primary">share</el-button>
                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>


                        </div>
                        <div style="margin-top:50px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>

                    </div>

                </el-tab-pane>
                <el-tab-pane label="便民服务">
                    <div class="bianminfuwu">
                        <h1>Internet Convenicen Service</h1>

                        <div style="font-size: 13px; position: absolute;right: 200px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片3.png"
                            fit="fill">

                        </el-image>
                        </br>
                        <p>Convenient service refers to the integration and development of the entity government hall and the online service platform: to adapt to the development needs of "Internet + government services", further enhance the service capacity of the entity government hall, accelerate the formation of a new mode of government service that complements each other online and offline, and orderly opens the online government service resources in accordance with the law. Encouraging convenience services</p>
                        </p>
                        </br>
                        <el-image style="width:100%;height: 2096px;margin: 0 auto;" src="./zhengfuImg/图片4.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div style="height: 150px;">

                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">appove the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button"
                                style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                type="primary">share</el-button>

                        </div>
                        <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:50px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="互联网政务">
                    <div class="bianminfuwu">
                        <h1>Government Internet Service</h1>

                        <div style="font-size: 13px; position: absolute;right: 200px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片7.png"
                            fit="fill">

                        </el-image>
                        </br></br>
                        <p>The essence of Internet + government affairs is to use the Internet to optimize the process of government organization and provide new management and government service products to the society. Internet + government services show 7 characteristics: online, cloud, mobile, data activation, intelligence, O2O and self service. Online mainly solves the government's omni-directional services; cloud-based mainly builds safe and efficient government services; mobile is to build real-time online government services for the public; data activation is mainly to enhance the value-added ability of data socialization applications; intellectualization is mainly to achieve universal service for the public; and O2 is mainly to build real-time online government services for the public. To achieve seamless docking of online and offline services; self-service is mainly to meet public access to government services
                        </p>
                        </br>
                        <el-image style="width:100%;height: 300px;margin: 0 auto;" src="./zhengfuImg/图片5.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div style="height: 150px;">


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button"
                                style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                type="primary">share</el-button>

                        </div>
                        <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:50px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>

                </el-tab-pane>
            </el-tabs>




        </div>
    </template>



    <!--通讯组件-->
    <template id="tongxun">
        <div>
            <el-popover placement="bottom" width="150" trigger="hover">
                <p @click="drawer = true" style="font-size: 18px;">know more<i class="el-icon-right"></i></p>
                <img slot="reference" src="./tongxunImg/1.png"
                    style="z-index: -1;height:500px;width:600px;position:absolute;left: 0;right: 0;top:200px;margin:auto;">

            </el-popover>

            <el-popover placement="bottom" width="150" trigger="hover">
                <p @click="drawer = true" style="font-size: 18px;" style="width: 150px;left:50%;">know more<i
                        class="el-icon-right"></i></p>
                <h2 slot="reference" style='top:50px;position:absolute;width: 100%;text-align: center;'>Communications - More than sending messages</h2>
            </el-popover>

            <el-drawer size="50%" title="互联网通信" :visible.sync="drawer" :direction="direction"
                :before-close="handleClose">
                <img src="./tongxunImg/图片1.png" style="width: 100%;height:40%;top: 0;margin: 0;">
                <img src="./tongxunImg/图片2.png" style="width: 100%;height:40%;margin-bottom:20px;">
            </el-drawer>

            <el-tooltip class="item" effect="dark" hideAfter='4000' content="点击手机底部的输入框向Rone发送消息哦" placement="right">


                <div class="tongxun_phone">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Rone</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>
                
                    <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="请输入内容" size='mini'
                            style="width: 250px;">
                        </el-input>
                        <el-button @click="sendmessageToRone" type="info" size="mini" style="width: 50px;margin:0;"
                            round>发送
                        </el-button>
                    </p>
                </div>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" hideAfter='4000' content="点击手机底部的输入框向Jack发送消息哦" placement="left">


                <div class="tongxun_phone_right">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Jack</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>
                         
                            <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="请输入内容" size='mini'
                            style="width: 250px;">
                        </el-input>
                        <el-button @click="sendmessageToJack" type="info" size="mini" style="width: 50px;" round>发送
                        </el-button>
                    </p>
                </div>
            </el-tooltip>



        </div>
    </template>


    <!--文娱组件-->
    <template id="wenyu">
            <div>
                    <p style="width: 300px;position:absolute;left:0;right:0;margin:auto;height:60px;top:40px;">
        
                        <el-popover placement="left-end" width="400" trigger="hover">
                            <img src="./wenyuImg/图片1.png">
                            <img slot="reference" style="width: 60px;height:60px;border-radius: 100%;border:1px solid black;"
                                src="./wenyuImg/图片1.png">
                        </el-popover>
                        <span style="line-height: 60px;height: 60px;position: absolute;top: 0;font-size: 19px;">互联网文娱</span>
        
                    </p>
        
                    <div style="width: 1200px;position:absolute;left:0;right:0;margin:auto;top:100px;">
                        <p style="height: 50px;text-indent: 30px;">
                            互联网文娱是由文学、影视、游戏、动漫、音乐、演出、衍生品等多元文化娱乐产业共同组成。依托互联网作为内容传播途径的泛娱乐内容服务构成了互联网文娱的内容领域。
                            </br>以下软件你用过多少呢？来给他们打个分吧！
                        </p>
                        <div class="card_container">
                            <div v-for="item in  all">
                                <el-card style="width: 350px;height:280px;margin:20px 20px;">
                                    <img style="width: 310px;height: 200px;margin:0;" :src="item.Imgsrc">
                                    <span style="font-size:12px;">给</span>
                                    <el-link type="primary" :href="item.src" target="_blank">{{ item.name }}</el-link>
        
                                    <span style="width: 50px;font-size:12px;">评个分吧:</span>
                                    <el-rate v-model="item.pingfen" style="width: 200px;"></el-rate>
        
        
                                </el-card>
                            </div>
        
        
                        </div>
                    </div>
        
        
                </div>
    </template>

    <!--购物出行组件-->
    <template id="gouwu">
            <div>
                    <el-tabs tab-position="left">
                        <!--购物-->
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-shopping-cart-2"></i> 购物</span>
                            <div class="zhengfu_gaikuang">
                                <h1>购物</h1>
                                <div style="font-size: 13px; position: absolute;right: 200px;">
                                    <span>2019-8-15</span> <span>作者:傅宇辉</span>
                                    <el-divider></el-divider>
                                </div>
                                </br> </br> </br>
                                <p>随着电子商务的发展，由传统的实体经营再到现在我们所熟知的诸如淘宝、京东等网络营销企业。</p>
                                </br>
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/taobao.png"
                                    fit="fill" lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
        
                                </br> </br> </br>
                                <p>网购模式日趋成熟，并逐渐影响着人们的消费方式和理念，推动着社会经济的发展和财富的积累。现阶段，随着网络时代的来临，人们的生活发生了翻天覆地的变化，由以往相对较封闭单一的生活方式变得越来越多样化，网络信息技术的发展，同时也为经济社会的发展带来了生机与活力。将网络技术运用到经济发展方面，不仅改变了我国的经济发展方式，与此同时，也使得人们的生活水平跨上一个新的台阶，人们的购物方式也在逐渐的进行扩充。
                                </p>
        
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片2.png" fit="fill"
                                    lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
                                </br>
        
                                </br> </br>
                                <p>
                                    而另外一个方面，网购作为一种新兴的商业运作模式，因为其独特的购物方式以及其便捷快速、品种齐全、价格优惠的特点被消费者所喜爱，近几年来，我国的网络贸易总额也在不断攀升。
                                </p>
                                </br>
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/3.jpg" fit="fill"
                                    lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
        
                                </br></br>
        
                                <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                                <div>
        
        
                                    <el-badge :value="two_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
        
                                    <el-button onclick="share()" class="share-button"
                                        style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
        
                                    <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                                    <div style="margin-top:50px;margin-bottom:100px;">
                                        <pinglun></pinglun>
        
                                    </div>
        
                                </div>
        
                            </div>
                        </el-tab-pane>
        
                        <!--出行-->
                        <el-tab-pane>
                            <span slot="label"><i class="el-icon-bicycle"></i> 出行</span>
                            <div class="zhengfu_gaikuang">
                                <h1>出行</h1>
                                <div style="font-size: 13px; position: absolute;right: 200px;">
                                    <span>2019-8-15</span> <span>作者:傅宇辉</span>
                                    <el-divider></el-divider>
                                </div>
                                </br> </br> </br>
                                <p>2017年，人工智能、科技爆炸、互联网的加速进步，智能科技带来的变革已经无孔不入，在出行领域，除了传统的公共交通工具和私家车外，共享出行和网约车成为新的出行潮流。</p>
                                </br>
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片3.png" fit="fill"
                                    lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
        
                                </br> </br> </br>
                                <p>一线城市网民使用共享自行车APP比例最高
                                    　注：1.一线城市：北京、上海、广州、深圳；2.新一线城市：成都、杭州、武汉、重庆、南京、天津、苏州、西安、长沙、沈阳、青岛、郑州、大连、东莞、宁波3.二线城市：省会城市
                                    三线城市网民使用互联网约车最多
                                </p>
        
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片4.png" fit="fill"
                                    lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
                                </br>
        
                                </br> </br>
                                <p>
                                    公交车和私家车使用最多，共享自行车表现突出，新能源汽车和共享汽车使用较少
                                </p>
                                </br>
                                <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片5.png" fit="fill"
                                    lazy>
                                    <div slot="placeholder" class="image-slot">
                                        图片加载中<span class="dot">...</span>
                                    </div>
                                </el-image>
                                <p>一线城市网民选择共享自行车上班比例最高</p>
                                </br></br>
        
                                <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                                <div>
        
        
                                    <el-badge :value="two_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
        
                                    <el-button onclick="share()" class="share-button"
                                        style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
        
                                    <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                                    <div style="margin-top:50px;margin-bottom:100px;">
                                        <pinglun></pinglun>
        
                                    </div>
        
                                </div>
        
                            </div>
                        </el-tab-pane>
        
                    </el-tabs>
                </div>
    </template>

    
    <!--影响组件-->
    <template id="yingxiang">
            <div style="width: 100%;">
                <div style="width: 100px;margin: 0 0;">
                    <el-menu default-active="1" class="el-menu-vertical-demo" width="100">
                        <el-menu-item index="1" @click="activeName='1'">
                            <i class="el-icon-s-check"></i>
                            <span slot="title">政府</span>
                        </el-menu-item>
                        <el-menu-item index="2" @click="activeName='2'">
                            <i class="el-icon-s-shop"></i>
                            <span slot="title">企业</span>
                        </el-menu-item>
                        <el-menu-item index="3" @click="activeName='3'">
                            <i class="el-icon-user-solid"></i>
                            <span slot="title">个人</span>
                        </el-menu-item>
    
                    </el-menu>
                </div>
                <div style="width: 1100px;left:150px;top: 0;position: absolute;margin-top: 10px;">
    
    
                    <el-collapse change="change" style="border-left: #409EFF 1px solid;" v-model="activeName" accordion>
                        <el-collapse-item name="1">
                            <template slot="title">
                                <p> 互联网对政府的影响<i class="header-icon el-icon-s-check"></i></p>
                            </template>
                            <div>
    
                                <div style="font-size: 15px;">
                                    <p>1.用互联网渠道，政府可以提高管理和服务的质量与效率，打造为人民服务的政府。</p>
                                    <p> 2.利用互联网平台，政府可以更好地接受人民的监督，促进科学，民主决策提高政府的公信力。</p>
                                    <p> 3.通过国家互联网体系，有利于开展政府间的国家合作；展示良好的国家形象。</p>
                                    <p>网络帮助老百姓做实事。因此网络对老百姓维权时起到了很重要的作用。同时互联网对政府的监督也起到重要的作用。没有互联网，政府就缺少了监督。</p>
                                </div>
    
                                <div style="height:500px;width: 100%;">
                                    <img src="./yingxiangImg/1.jpg" style="width: 400px;height:500px;">
                                    <img src="./yingxiangImg/2.jpg" style="width: 600px;height:500px;margin-left:40px;">
                                </div>
                                <div style="height: 80px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item name="2">
                            <template slot="title">
                                <p> 互联网对企业的影响<i class="header-icon el-icon-s-shop"></i></p>
                            </template>
                            <div style="font-size: 15px;">
                                <p style="line-height: 30px;">
                                    互联网技术带来的改变，大家有目共睹。首先在营销层面，以前的营销是靠电视报纸，但现在的互联网和物流的发展，信息变得越来越透明，竞争从区域竞争向全国、全球蔓延。对于本身产品具有竞争力的企业来说，能够借机扩大规模，加快发展；但对于那些缺乏竞争力的企业来说，就面临短兵相接的激烈竞争。
                                </p>
                                <p style="line-height: 30px;">
                                    促进企业改革创新，实现传统行业升级，产生新的行业生态，改变旧的经营方式，拓宽企业发展渠道。企业通过建设互联网生态圈，能有效解决企业的互联网问题，抓住互联网+带来的机遇，实现新的发展。
                                </p>
                                <div style="height:500px;width: 100%;">
    
    
                                    <img src="./yingxiangImg/3.jpg" style="height: 500px;width:500px;">
                                    <img src="./yingxiangImg/4.jpg" style="width: 500px;height:500px;margin-left:40px;">
    
                                </div>
                                <div style="height: 80px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item name="3">
                            <template slot="title">
                                <p> 互联网对个人的影响<i class="header-icon el-icon-user-solid"></i></p>
                            </template>
                            <div style="font-size: 14px;">
                                <p>1. 生活习惯的改变 互联网把人们的购物理念转向PC终端，而移动互联网则将把人们的购物理念转向了移动终端。</p>
                                <p>2. 信息传播更加畅通。 移动互联网解放了人们的双脚，不用座在电脑边也可以看到互联网上的信息。 </p>
                                <p>3. 娱乐移动化 你有没有过，早上醒来的第一件是拿起床头的手机看新闻、查天气；你有没有过在地铁、公交上翻阅手机里的电子书、股票、新闻，或是在疯狂的吃鸡,刷微博，王者荣耀，看直播
                                </p>
                                <div>
                                    <img src="./yingxiangImg/5.jpg" style="width: 400px;height:500px;">
                                    <img src="./yingxiangImg/6.jpg" style="width: 600px;height:500px;margin-left:40px;">
                                </div>
                                <div style="height: 80px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 50px;position:absolute;right:200px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
    
                    </el-collapse>
                </div>
                <div style="width: 200px;left:1270px;height: 250px;position: absolute;top:10px;background-color: #e8e8e8">
                    <p style="width: 200px;height:30px;border-bottom:#409EFF 1px solid; ">相关链接</p>
                    <p v-for="item in list" class="xiangguanlianjie">
                        <el-link type="info" :href="item.src" target="_blank">{{item.name}}</el-link><i
                            class="el-icon-search"> </i>
                    </p>
    
                </div>
            </div>
        </template>

    <!--未来组件-->
    <template id="weilai">
            <div style="display: flex;flex-wrap:wrap ;width: 90%;left: 5%;position: absolute;">
                <div class="weilai_img_container" @mouseenter="show1 = true" @mouseleave="show1 = false">
                   <img  src="./weilaiImg/3.png" style="height: 100%;width:100%;">               
                    <el-collapse-transition>
                            <div v-show="show1"  style="height: 200px;top:300px;left:100px;position: absolute;z-index: 999;">
                                <h5 style="font-size: 35px;">虚拟现实</h5>
                                <p style="font-size: 24px;">在虚拟世界体验最真实的感受</p>
                            </div>
                    </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show2 = true" @mouseleave="show2 = false">
                        <img  src="./weilaiImg/1.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show2"  style="height: 200px;top:1050px;left:100px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 35px;">机器学习</h5>
                                     <p style="font-size: 24px;">独立,效率与生产力</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show3 = true" @mouseleave="show3 = false">
                        <img  src="./weilaiImg/2.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show3"  style="height: 200px;top:1800px;left:100px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 35px;">万物互联</h5>
                                     <p style="font-size: 24px;">给企业，个人和国家创造新的功能</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show4 = true" @mouseleave="show4 = false">
                        <img  src="./weilaiImg/3.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show4"  style="height: 200px;top:2550px;left:100px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 35px;">5G</h5>
                                     <p style="font-size: 24px;">不仅仅是速度</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show5 = true" @mouseleave="show5 = false">
                        <img  src="./weilaiImg/4.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show5"  style="height: 200px;top:3300px;left:100px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 35px;">人工智能</h5>
                                     <p style="font-size: 24px;">智能机器与智能生活</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show6 = true" @mouseleave="show6 = false">
                        <img  src="./weilaiImg/图片1.png" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show6"  style="height: 200px;top:4050px;left:100px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 35px;">移动办公</h5>
                                     <p style="font-size: 24px;">休闲，效率，生产力</p>
                                 </div>
                         </el-collapse-transition>
                </div>
               
            </div>
        </template>
    <!--政府table组件-->
    <template id="zhengfu_table">
        <div>
            <p style="width: 100%;text-align:center;">2018 urban Internet + ranking</p>
            <el-table :data="tableData" stripe style="width: 60%;left: 20%;">
                <el-table-column prop="date" label="城市" width="180">
                </el-table-column>
                <el-table-column prop="name" label="省份" width="180">
                </el-table-column>
                <el-table-column prop="address" label="互联网+总指数">
                </el-table-column>
                <el-table-column prop="paiming" label="排名" width="180">
                </el-table-column>
            </el-table>
        </div>
    </template>
    <!--评论功能组件-->
    <template id="pinglun">
        <div>
            <el-input style="width: 200px;" placeholder="评论人" suffix-icon="el-icon-user-solid" v-model="person">
            </el-input>
            <el-input style="width: 400px;" placeholder="评论内容" suffix-icon="el-icon-tickets" v-model="neirong">
            </el-input>
            <el-button type="primary" plain @click='addpinglun'>SURE</el-button>

            <el-table :data="list" stripe style="width: 100%">

                <el-table-column prop="person" label="评论人" width="200">
                </el-table-column>
                <el-table-column prop="neirong" label="评论内容">
                </el-table-column>
            </el-table>
        </div>
    </template>



    <!--引入js.js，swiper.js-->
    <script type="text/javascript" src="./js/js.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script>

        var swiper = new Swiper({
            el: '.swiper-container',
            initialSlide: 2,
            spaceBetween: 50,
            slidesPerView: 2,
            centeredSlides: true,
            slideToClickedSlide: true,
            grabCursor: true,
            autoplay: true,

            mousewheel: {
                enabled: true,
            },
            keyboard: {
                enabled: true,
            },
            pagination: {
                el: '.swiper-pagination',

            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        function share() {
            alert('分享成功')
        }
    </script>

</body>

</html>