<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="img/icon.ico" />
    <title>the deveronment of internet</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="./js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/phone.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .el-image__inner {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>

<body>

    <!--vue 实例对像   HTML主页-->
    <div id="app">
        <div class="daohang">

            <img class="daohangImg" src="./img/daohangBgd.jpg">


            <div class="a_container">
                <el-dropdown trigger='click'>
                   <span class="el-dropdown-link">

                   
                       menu <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item> <a href="#" @click.prevent="comName='shouye'">HOME</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='zhengfu'">GOVERNMENT</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='tongxun'">COMM</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='wenyu'">ENT</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='gouwu'">SHOPPING</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='yingxiang'">INFLUENCE</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='weilai'">PROSPECTIVE</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
                <!--
                <a href="#" @click.prevent="comName='shouye'">首页</a>
                <a href="#" @click.prevent="comName='zhengfu'">政府</a>
                <a href="#" @click.prevent="comName='tongxun'">通讯</a>
                <a href="#" @click.prevent="comName='wenyu'">文娱</a>
                <a href="#" @click.prevent="comName='gouwu'">购物出行</a>
                <a href="#" @click.prevent="comName='yingxiang'">影响</a>
                <a href="#" @click.prevent="comName='weilai'">未来</a>
                -->
            </div>

            <select onchange="window.location=this.value;">
                <option>language</option>
                <option value="phone.html"> 中文 </option>
                <option style="border:none;" value="phoneEnglish.html"> English</option>
            </select>

        </div>

        <div class="all">

            <keep-alive>
                <component :is="comName"></component>
            </keep-alive>
        </div>

    </div>

    <!--首页组件-->
    <template id="shouye">
        <div>



            <div class="swiper-container">

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      
                        <img src="./img/slide6.png">
                    </div>
                    <div class="swiper-slide">
                     
                        <img src="./img/slide2.jpg">
                    </div>
                    <div class="swiper-slide">
                      
                        <img src="./img/slide3.jpg">
                    </div>
                    <div class="swiper-slide">
                     
                        <img src="./img/slide4.png">
                    </div>
                    <div class="swiper-slide">
                       
                        <img src="./img/slide5.png">
                    </div>
                    <div class="swiper-slide">
                      
                        <img src="./img/slide1.jpg">
                    </div>

                </div>
                <div class="swiper-pagination"></div>

            </div>

          


            <div class="things">
             <!--
                <img class="thingsBgd" src="./img/thingsBgd.png">

               -->
               <h4 style=" border-bottom: #94874e solid 1px;width: 100%;">Internet Events</h4>
                <div class="thingsLeft">
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_one">
                        <img class="left_img" src="./img/第一封邮件.jpg">
                        <p class="left_alt">the first email</p>
                        <p class="left_title">E-mail</p>
                        <p class="left_info">
                            Chinese scientists built an e-mail node at the Beijing Institute of Computer Applied Technology (ICA) 
                            and sent the first e-mail to Germany in English and German.</p>

                    </div>
                    
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_two">
                            <img class="left_img" src="./img/拨号上网.png">
                            <p class="left_alt">Dial-up Internet access</p>
                            <p class="left_title">Dial-up Internet access</p>
                            <p class="left_info">
                                It was on April 20, 1994 that China realized the first full-featured TCP/IP link with the Internet.The government take a  special lines to to provide Internet access services to the community.
                            </p>
    
                        </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_two">
                        <img class="left_img" src="./img/shijian_qq.jpg">
                        <p class="left_alt">community</p>
                        <p class="left_title">QQ</p>
                        <p class="left_info">
                            In 1999, Tencent released the first version of QQ, which was not called QQ at that time, but OICQ. 
                            This is the rise of social software.</p>

                    </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_two">
                            <img class="left_img" src="./img/baidu.jpg">
                            <p class="left_alt">Baidu</p>
                            <p class="left_title">Search Engines</p>
                            <p class="left_info">
                                Baidu, founded in January 2000 by Robin Li in Zhongguancun, Beijing, is committed to providing "simple, dependable" information access to people. 
                            At present, it is the largest Chinese search engine in the world.</p>
    
                        </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_two">
                        <img class="left_img" src="./img/wangyou.jpg">
                        <p class="left_alt">Fantasy Westward Journey</p>
                        <p class="left_title">Game</p>
                        <p class="left_info">
                            After 2000, China's Internet has entered the era of online games. From the earliest "King of kings", "Stone Age "to"legend",
                            the rise prosperity of online games in China is both inevitable and accidental.
                        </p>

                    </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_two">
                            <img class="left_img" src="./img/taobao.jpg">
                            <p class="left_alt">Taobao</p>
                            <p class="left_title">Shopping</p>
                            <p class="left_info">
                                On May 10, 2003, Taobao was born in the lakeside garden of Hangzhou, Zhejiang Province. 
                            In 2006, Taobao became the largest shopping website in Asia.</p>
    
                        </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_two">
                        <img class="left_img" src="./img/xiongmao.jpg">
                        <p class="left_alt">Worm.nimaya</p>
                        <p class="left_title">Virus</p>
                        <p class="left_info">
                            The most famous "native" virus is the worm virus "worm.nimaya" which broke out in October 2006.
                             This virus  cause the system core program to fail to load, and delete important files to finally appear a panda with three incenses.
                        </p>

                    </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_two">
                            <img class="left_img" src="./img/weibo.jpg">
                            <p class="left_alt">Micro-blog</p>
                            <p class="left_title">Micro-blog</p>
                            <p class="left_info">
                                Since the second half of 2009, major portals have opened or tested microblogging functions. 
                                Since  Micrp-blog has become Sina's most imaginative new business platform.</p>
    
                        </div>
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_two">
                        <img class="left_img" src="./img/qq.jpg">
                        <p class="left_alt">Notice</p>
                        <p class="left_title">"Star Wars" 3Q</p>
                        <p class="left_info">
                            　Tencent entered the field of Internet security, and the war between Tencent and 360 inevitably broke out.
                              On November 5, the Ministry of Industry and Information Technology.
                        </p>

                    </div>
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_two">
                            <img class="left_img" src="./img/didi.jpg">
                            <p class="left_alt">Drip trips</p>
                            <p class="left_title">trip</p>
                            <p class="left_info">
                                In the first half of 2014, "drip taxi" and "fast taxi" burned nearly 2.4 billion yuan in just four months in order to seize the market
                                and frantically distribute red envelopes and subsidies. 
                            </p>
    
                        </div>
    
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_two">
                        <img class="left_img" src="./img/share.jpg">
                        <p class="left_alt">Shared bicycle</p>
                        <p class="left_title">shared economic</p>
                        <p class="left_info">
                            Shared bicycles, which started to emerge in the second half of 2016, have really brought the shared economy into daily life and become 
                            the darling of capital.
                        </p>

                    </div>
                 
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_two">
                        <img class="left_img" src="./img/cloud.jpg">
                        <p class="left_alt">Icloud Computing</p>
                        <p class="left_title">Icloud Computing</p>
                        <p class="left_info">
                            Icloud computing is a kind of distributed computing and  processed and analyzed by a system composed of 
                             multiple servers to get the results and return them to users.
                        </p>

                    </div>
                
            </div>
            <footer>
                <img class="footer_bgd" src="./img/footer_bgd.jpg">
                <p  style="font-size: 12px;color:#37474F;">
                    <span style="width:33%;text-align: center;" class="el-icon-message">
                        <a href="mailto:3529725395@qq.com">Contact Us</a>
                    </span>
                    <span style="width:33%;text-align: center;" class="el-icon-info">
                       <a href="https://github.com/zpfnb/internet" target="_blank">more about</a>
                    </span>
                    <span style="width: 32%;text-align: center;" class="el-icon-view"> 
                        <a href="https://github.com/zpfnb/internet" target="_blank">website code</a>
                    </span>
                </p>

            </footer>
            <div class="buttom_buttom">

                <a class="beian" href="http://www.miitbeian.gov.cn" target="_blank">桂ICP备18010807号</a>
            </div>

        </div>
    </template>

    <!--政府组件-->
    <template id="zhengfu">
        <div>

            <el-tabs tab-position="top">

                <el-tab-pane>
                    <span slot="label"><i class="el-icon-date"></i> Survey</span>
                    <div class="zhengfu_gaikuang">
                        <h1>The Government With Internet</h1>
                        <div style="font-size: 13px; position: absolute;right: 50px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片1.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>After the concept of "Internet plus" was put forward in 2015, Premier Li Keqiang put forward "Internet plus government service" in the government work report in 2016.It aim at data sharing.Government departments at all levels should vigorously promote "Internet plus government affairs" to improve public service.
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片8.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            Internet plus government services has has also broken through the phenomena of "information chimneys" and "data islands". Nowadays, the open platform of government affairs towards the platform of government information and data service and the platform of convenient service for the people.  Whether it is the construction of government websites or the construction of new government media, the practicability and serviceability have been promoted to an unprecedented height, trying to build an new online service
                        </p>
                        </br>
                        <zhengfu_table></zhengfu_table>

                        </br></br>

                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>
                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:50px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>


                </el-tab-pane>

                <el-tab-pane>
                    <span slot="label"><i class="el-icon-s-opportunity"></i> Openness of Government Affairs</span>
                    <div class="zhengfu_gaikuang">
                        <h1>Openness of Government Affairs</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片9.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>"Internet plus Open Government" is a way to use modern science and technology to serve the masses more conveniently. Promoting standardization and standardization of grass-roots government affairs openness aims at optimizing government services and improving government effectiveness. Many grass-roots government staff said that the emergence of the Internet has greatly promoted the work of government affairs publicity, providing more open "methods" to enable better and more convenient interaction between grass-roots government departments and the people.
                        </p>


                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片5.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>
                            For a long time, the effect of grass-roots openness has been greatly limited due to unclear standards of open process and other reasons. It can be said that the work of government affairs publicity focuses on the grass-roots level, and the difficulties are also at the grass-roots level. Many grass-roots government staff said that the emergence of the Internet has greatly promoted the work of government affairs publicity.
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片2.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div >


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>
                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                        </div>
                        <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>
    
                         </div>

                    </div>

                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-s-check"></i> Convince Services</span>
                    <div class="bianminfuwu">
                        <h1>Internet Convenicen Service</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片3.png"
                            fit="fill">

                        </el-image>
                        </br>
                        <p>Convenient service refers to the integration and development of the entity government hall and the online service platform: to adapt to the development needs of "Internet + government services", further enhance the service capacity of the entity government hall, accelerate the formation of a new mode of government service that complements each other online and offline, and orderly opens the online government service resources in accordance with the law. Encouraging convenience services
                        </p>
                        </br>
                        <el-image style="width:100%;height: 2096px;margin: 0 auto;" src="./zhengfuImg/图片4.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div >

                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>

                        </div>
                        <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:10px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-monitor"></i> Government Internet Service</span>
                    <div class="bianminfuwu">
                        <h1>Government Internet Service</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片7.png"
                            fit="fill">

                        </el-image>
                        </br></br>
                        <p>he essence of Internet + government affairs is to use the Internet to optimize the process of government organization and provide new management and government service products to the society. Internet + government services show 7 characteristics: online, cloud, mobile, data activation, intelligence, O2O and self service. Online mainly solves the government's omni-directional services; cloud-based mainly builds safe and efficient government services; mobile is to build real-time online government services for the public; data activation is mainly to enhance the value-added ability of data socialization applications; intellectualization is mainly to achieve universal service for the public; and O2 is mainly to build real-time online government services for the public. To achieve seamless docking of online and offline services; self-service is mainly to meet public access to government services
                        </p>
                        </br>
                        <el-image style="width:100%;height: 300px;margin: 0 auto;" src="./zhengfuImg/图片5.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div >


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>

                        </div>
                        <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:10px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>

                </el-tab-pane>
            </el-tabs>




        </div>
    </template>


    <!--通讯组件-->
    <template id="tongxun">
        <div>
            <el-tooltip class="item" effect="dark" hideAfter='4000' content="Click on the bottom of the phone in Rone to send messages" placement="right">
                
                <div class="tongxun_phone">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Rone</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>

                    <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="Input Content" size='mini'
                            style="width: 250px;margin-left: 10px;">
                        </el-input>
                        <el-button @click="sendmessageToRone" type="info" size="mini" style="width: 50px;margin:0;"
                            round>Send
                        </el-button>
                    </p>
                </div>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" hideAfter='4000' content="Click on the input box at the bottom of the phone to send messages to Jack" placement="left">


                <div class="tongxun_phone_right">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Jack</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>

                    <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="Input Content" size='mini'
                            style="width: 250px;margin-left: 10px;">
                        </el-input>
                        <el-button @click="sendmessageToJack" type="info" size="mini" style="width: 50px;right: 5%;" round>send
                        </el-button>
                    </p>
                </div>
            </el-tooltip>



        </div>
    </template>


    <!--文娱组件-->
    <template id="wenyu">
        <div>
            <p style="width: 200px;position:absolute;left:0;right:0;margin:auto;height:60px;top:40px;">

               
                   
                    <img style="width: 60px;height:60px;border-radius: 100%;border:1px solid black;"
                        src="./wenyuImg/图片1.png">
               
                <span style="line-height: 60px;height: 60px;position: absolute;top: 0;font-size: 19px;">Entertainment</span>

            </p>

            <div style="width: 100%;position:absolute;left:0;right:0;margin:auto;top:100px;font-size: 14px;">
                <p style="height: 80px;text-indent: 30px;line-height: 30px;">
                    Internet entertainment is composed of literature, film and television, games and other multi-cultural entertainment industries. Internet as a means of communication constitutes Entertainment
                    </br>How many of the following software do you use? Come and score them！
                </p>
                <div class="card_container">
                    <div v-for="item in  all">

                        <el-card style="width: 90%;height:300px;margin:20px 5%;">
                            <img style="width: 90%;height: 200px;margin:0;" :src="item.Imgsrc">
<p>
                            <span style="font-size:12px;">give</span>
                            <el-link type="primary" :href="item.src" target="_blank">{{ item.name }}</el-link>

                            <span style="font-size:12px;">Comment on the score:</span>
                        </p>
                            <el-rate v-model="item.pingfen" style="width: 200px;"></el-rate>


                        </el-card>
                    </div>


                </div>
            </div>


        </div>
    </template>

    <!--购物出行组件-->
    <template id="gouwu">
        <div>
            <el-tabs tab-position="top">
                <!--购物-->
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-shopping-cart-2"></i> SHOPPING</span>
                    <div class="zhengfu_gaikuang">
                        <h1>SHOPPING</h1>
                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <p>With the development of e-commerce, there are online marketing enterprises such as Taobao and Jingdong.</p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/taobao.png"
                            fit="fill" lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>The online shopping mode is becoming more and more mature, which gradually affects people's consumption mode and promotes the development of social economy and the accumulation of wealth. With the advent of the Internet age, people's life has become more and more diverse, but also brought vitality and vitality to the economy and society. The application of network technology to economic development has changed the way of economic development in our country, also made people better, and changed the way people shop.
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片2.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            On the other hand, as a new business operation mode, online shopping is loved by consumers because of its unique way of shopping and its convenience and speed. In recent years, the total amount of online trade in China is also rising
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/3.jpg" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br></br>

                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="two_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>

                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>
                </el-tab-pane>

                <!--出行-->
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-bicycle"></i> Trips</span>
                    <div class="zhengfu_gaikuang">
                        <h1>Trips</h1>
                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <p>In 2017, changes brought about by artificial intelligence and intelligent technology have been all-pervasive. In the field of travel, sharing travel and online car booking have become a new travel trend.</p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片3.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                waiting<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>Shared bicycle APP has the highest proportion among Internet users in first-tier cities.
                            Note: 1. First-tier cities: Beijing, Shanghai, Guangzhou and Shenzhen; 2. New-tier cities: Chengdu, Hangzhou, Wuhan, Chongqing, Nanjing, Tianjin, Suzhou, Xi'an, Changsha, Shenyang, Qingdao, Zhengzhou, Dalian, Dongguan and Ningbo. Second-tier cities: the third-tier cities of the provincial capital use the Internet most.
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片4.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                               waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            Buses and private cars use the most, shared bicycles are outstanding, new energy vehicles and shared cars use less.
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片5.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                               waiting<span class="dot">...</span>
                            </div>
                        </el-image>
                        <p>Netizens in first-tier cities choose to share bicycles to work in the highest proportion</p>
                        </br></br>

                        <el-divider>approve<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="two_zan" :max="99" class="item">
                                <el-button @click="add" size="small">approve the website</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">share</el-button>

                            <el-divider>comment<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>
                </el-tab-pane>

            </el-tabs>
        </div>
    </template>


    <!--影响组件-->
  
    <template id="yingxiang">
        <div style="width: 100%;">
            
            <div style="width: 100%;position: absolute;margin:0;">


                <el-collapse change="change" style="border-left: #409EFF 1px solid;" v-model="activeName" accordion>
                    <el-collapse-item name="1">
                        <template slot="title">
                            <p> The Impact of Internet on Government<i class="header-icon el-icon-s-check"></i></p>
                        </template>
                        <div>

                            <div style="font-size: 15px;">
                                <p>1. With the Internet channel, the government can improve the quality and efficiency of management and service, and build a government serving the people.</p>
                                <p> 2. Using the Internet platform, the government can better accept the supervision of the people, promote scientific and democratic decision-making and enhance the credibility of the government.</p>
                                <p> 3. Through the national Internet system, it is conducive to the development of inter-governmental national cooperation, and to display a good national image.</p>
                                <p>The Internet helps people to do practical things. Therefore, the network plays an important role in protecting people's rights. At the same time, the Internet also plays an important role in government supervision. Without the Internet, the government lacks supervision.</p>
                            </div>

                            <div style="height:500px;width: 100%;">
                                <img src="./yingxiangImg/1.jpg" style="width: 100%;height:500px;">
                               
                            </div>
                            <div style="height: 50px;">


                                <el-badge :value="one_zan" :max="99" class="item">
                                    <el-button @click="add" size="small">approve the website</el-button>
                                </el-badge>
                                <el-button onclick="share()" class="share-button" size="small"
                                    style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                    type="primary">share</el-button>



                            </div>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item name="2">
                        <template slot="title">
                            <p>The Impact of Internet on Enterprises<i class="header-icon el-icon-s-shop"></i></p>
                        </template>
                        <div style="font-size: 15px;">
                            <p style="line-height: 30px;">
                                The changes brought about by Internet technology are obvious to all. Firstly, on the marketing level, the former marketing relied on TV newspapers, and competition spread from regional competition to global competition. Competition is getting fiercer and fiercer
                            </p>
                            <p style="line-height: 30px;">
                                Promote enterprise reform and innovation, and realize industry upgrading. Through the construction of the Internet Ecosystem, enterprises can effectively solve the Internet problems of enterprises, seize the opportunities brought by Internet +, and achieve new development.
                            </p>
                            <div style="height:500px;width: 100%;">


                                <img src="./yingxiangImg/3.jpg" style="height: 500px;width:500px;">
                               

                            </div>
                            <div style="height: 50px;">


                                <el-badge :value="one_zan" :max="99" class="item">
                                    <el-button @click="add" size="small">approve the website</el-button>
                                </el-badge>
                                <el-button onclick="share()" class="share-button" size="small"
                                    style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                    type="primary">share</el-button>



                            </div>
                        </div>
                    </el-collapse-item>
                    <el-collapse-item name="3">
                        <template slot="title">
                            <p> The Impact of the Internet on Individuals<i class="header-icon el-icon-user-solid"></i></p>
                        </template>
                        <div style="font-size: 14px;">
                            <p>1. The change of living habits leads people's shopping idea to PC terminal, while mobile Internet will turn people's shopping idea to mobile terminal.</p>
                            <p>2. Information dissemination is more smoothly. Mobile Internet has liberated people's feet, and information on the Internet can be seen without sitting beside a computer. </p>
                            <p>3. Have you ever waked up in the morning to watch news and weather on your mobile phone? Have you ever flipped through e-books, stocks, news on your mobile phone on the subway or bus, brushed micro-blogs, and watched live broadcasts of King's Glory?
                            </p>
                            <div>
                                <img src="./yingxiangImg/5.jpg" style="width: 400px;height:500px;">
                               
                            </div>
                            <div style="height: 50px;">


                                <el-badge :value="one_zan" :max="99" class="item">
                                    <el-button @click="add" size="small">approve the website</el-button>
                                </el-badge>
                                <el-button onclick="share()" class="share-button" size="small"
                                    style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                    type="primary">share</el-button>



                            </div>
                        </div>
                    </el-collapse-item>

                </el-collapse>
            </div>
         
        </div>
    </template>

    <!--未来组件-->
    <template id="weilai">
    
        <div style="display: flex;flex-wrap:wrap ;width: 90%;left: 5%;position: absolute;">
            <div class="weilai_img_container" @mouseenter="show1 = true" @mouseleave="show1 = false">
               <img  src="./weilaiImg/3.png" style="height: 100%;width:100%;">               
                <el-collapse-transition>
                        <div v-show="show1"  style="height: 50px;top:50px;left:30px;position: absolute;z-index: 999;">
                            <h5 style="font-size: 18px;">virtual reality</h5>
                            <p style="font-size: 12px;">Experience the Real Feeling in the Virtual World</p>
                        </div>
                </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show2 = true" @mouseleave="show2 = false">
                    <img  src="./weilaiImg/1.jpg" style="height: 100%;width:100%;">               
                     <el-collapse-transition>
                             <div v-show="show2"  style="height: 50px;top:270px;left:30px;position: absolute;z-index: 999;">
                                 <h5 style="font-size: 18px;">Machine Learning</h5>
                                 <p style="font-size: 12px;">Independence, Efficiency and Productivity</p>
                             </div>
                     </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show3 = true" @mouseleave="show3 = false">
                    <img  src="./weilaiImg/2.jpg" style="height: 100%;width:100%;">               
                     <el-collapse-transition>
                             <div v-show="show3"  style="height: 50px;top:490px;left:30px;position: absolute;z-index: 999;">
                                 <h5 style="font-size: 18px;">All things are interconnected</h5>
                                 <p style="font-size: 12px;">Creating New Functions for Enterprises, Individuals and Countries</p>
                             </div>
                     </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show4 = true" @mouseleave="show4 = false">
                    <img  src="./weilaiImg/3.jpg" style="height: 100%;width:100%;">               
                     <el-collapse-transition>
                             <div v-show="show4"  style="height: 50px;top:710px;left:30px;position: absolute;z-index: 999;">
                                 <h5 style="font-size: 18px;">5G</h5>
                                 <p style="font-size: 12px;">It's not just speed.</p>
                             </div>
                     </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show5 = true" @mouseleave="show5 = false">
                    <img  src="./weilaiImg/4.jpg" style="height: 100%;width:100%;">               
                     <el-collapse-transition>
                             <div v-show="show5"  style="height: 50px;top:930px;left:30px;position: absolute;z-index: 999;">
                                 <h5 style="font-size: 18px;">Artificial intelligence</h5>
                                 <p style="font-size: 12px;">Intelligent Machine and Intelligent Life</p>
                             </div>
                     </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show6 = true" @mouseleave="show6 = false">
                    <img  src="./weilaiImg/图片1.png" style="height: 100%;width:100%;">               
                     <el-collapse-transition>
                             <div v-show="show6"  style="height: 50px;top:1150px;left:30px;position: absolute;z-index: 999;">
                                 <h5 style="font-size: 18px;">Mobile Office</h5>
                                 <p style="font-size: 12px;">Leisure, Efficiency and Productivity</p>
                             </div>
                     </el-collapse-transition>
            </div>
            <div class="weilai_img_container" @mouseenter="show7 = true" @mouseleave="show7 = false">
                <img src="./weilaiImg/5.jpg" style="height: 100%;width:100%;">
                <el-collapse-transition>
                    <div v-show="show7" style="height: 50px;top:1370px;left:30px;position: absolute;z-index: 999;">
                        <h5 style="font-size: 18px;">Amazing China</h5>
                        <p style="font-size: 12px;">Witness a More Prosperous You</p>
                    </div>
                </el-collapse-transition>
            </div>
           
        </div>
    </template>

    <!--政府table组件-->
    <template id="zhengfu_table">
        <div>
            <p style="width: 100%;text-align:center;">2018 urban Internet + ranking</p>
            <el-table :data="tableData" stripe style="width: 100%;">
                <el-table-column prop="date" label="City" width="75">
                </el-table-column>
                <el-table-column prop="name" label="Province" width="100">
                </el-table-column>
                <el-table-column prop="address" label="Internet-Points" width="100">
                </el-table-column>
                <el-table-column prop="paiming" label="Rank" width="100">
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--评论功能组件-->
    <template id="pinglun">
        <div >
            <el-input style="width: 100px;margin-bottom: 10px;" placeholder="commentor" suffix-icon="el-icon-user-solid" v-model="person">
            </el-input>
            <el-input style="width: 300px;" placeholder="comment" suffix-icon="el-icon-tickets" v-model="neirong">
            </el-input>
            <el-button type="primary" plain @click='addpinglun'>sure</el-button>

            <el-table :data="list" stripe highlight-current-row style="width: 100%">

                <el-table-column prop="person" label="commentor" width="100">
                </el-table-column>
                <el-table-column prop="neirong" label="content">
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--引入js.js，swiper.js-->
    <script type="text/javascript" src="./js/js.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script>

        var swiper = new Swiper({
            el: '.swiper-container',
            initialSlide: 2,
            spaceBetween: 50,
            slidesPerView: 1,
            centeredSlides: true,
            slideToClickedSlide: true,
            grabCursor: true,
            autoplay: true,

            mousewheel: {
                enabled: true,
            },
            keyboard: {
                enabled: true,
            },
            pagination: {
                el: '.swiper-pagination',

            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        function share() {
            alert('share successfully')
        }
    </script>
</body>

</html>