<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" href="img/icon.ico" />
    <title>中国互联网的发展</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
    <script src="./js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/phone.css">
    <link rel="stylesheet" href="./css/swiper.min.css">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .el-image__inner {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            right: 0;
            margin: auto;
        }
    </style>
</head>

<body>

    <!--vue 实例对像   HTML主页-->
    <div id="app">
        <div class="daohang">
         
            <img class="daohangImg" src="./img/daohangBgd.jpg">
         

            <div class="a_container">
                <el-dropdown trigger='click'>
                   <span class="el-dropdown-link">

                   
                       菜单 <i class="el-icon-arrow-down el-icon--right"></i>
                    </span>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item> <a href="#" @click.prevent="comName='shouye'">首页</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='zhengfu'">政府</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='tongxun'">通讯</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='wenyu'">文娱</a></el-dropdown-item>
                        <el-dropdown-item><a href="#" @click.prevent="comName='gouwu'">购物出行</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='yingxiang'">影响</a></el-dropdown-item>
                        <el-dropdown-item> <a href="#" @click.prevent="comName='weilai'">未来</a></el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
             
            </div>

            <select onchange="window.location=this.value;">
                <option>语言</option>
                <option value="phone.html"> 中文 </option>
                <option style="border:none;" value="phoneEnglish.html"> English</option>
            </select>

        </div>

        <div class="all">

            <keep-alive>
                <component :is="comName"></component>
            </keep-alive>
        </div>

    </div>

    <!--首页组件-->
    <template id="shouye">
        <div>



            <div class="swiper-container">

                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <p>丰富多彩</p>
                        <img src="./img/slide6.png">
                    </div>
                    <div class="swiper-slide">
                        <p><strong>高效</strong></p>
                        <img src="./img/slide2.jpg">
                    </div>
                    <div class="swiper-slide">
                        <p>便捷</p>
                        <img src="./img/slide3.jpg">
                    </div>
                    <div class="swiper-slide">
                        <p>便捷</p>
                        <img src="./img/slide4.png">
                    </div>
                    <div class="swiper-slide">
                        <p>便捷</p>
                        <img src="./img/slide5.png">
                    </div>
                    <div class="swiper-slide">
                        <p>便捷</p>
                        <img src="./img/slide1.jpg">
                    </div>

                </div>
                <div class="swiper-pagination"></div>

            </div>

          


            <div class="things">
             <!--
                <img class="thingsBgd" src="./img/thingsBgd.png">

               -->
               <h4 style=" border-bottom: #94874e solid 1px;width: 100%;">互联网大事记</h4>
                <div class="thingsLeft">
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_one">
                        <img class="left_img" src="./img/第一封邮件.jpg">
                        <p class="left_alt">第一封邮件</p>
                        <p class="left_title">电子邮件</p>
                        <p class="left_info">
                            中国科学家在北京计算机应用技术研究所（ICA）建成一个电子邮件节点，
                            用英文和德文向德国发出了中国第一封电子邮件。</p>

                    </div>
                    
                    <div @mouseenter="change1" @mouseleave="leave1" class="shouye_shijian_two">
                            <img class="left_img" src="./img/拨号上网.png">
                            <p class="left_alt">拨号上网</p>
                            <p class="left_title">拨号上网</p>
                            <p class="left_info">
                                使互联网从象牙塔走进百姓家的，是1994年4月20日中国实现了与国际互联网的第一条TCP/IP全功能链接。第二年一月，上海接入美国的64K专线，开始向社会提供互联网接入服务。
                            </p>
    
                        </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_two">
                        <img class="left_img" src="./img/shijian_qq.jpg">
                        <p class="left_alt">社交</p>
                        <p class="left_title">QQ</p>
                        <p class="left_info">
                            1999年，腾讯发布了QQ的第一版，当时还不叫QQ，叫OICQ。这是社交软件的兴起</p>

                    </div>
                    <div @mouseenter="change2" @mouseleave="leave2" class="shouye_shijian_two">
                            <img class="left_img" src="./img/baidu.jpg">
                            <p class="left_alt">百度</p>
                            <p class="left_title">搜索引擎</p>
                            <p class="left_info">
                                百度，2000年1月由李彦宏创立于北京中关村，致力于向人们提供“简单，可依赖”的信息获取方式。目前是全球最大的中文搜索引擎。</p>
    
                        </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_two">
                        <img class="left_img" src="./img/wangyou.jpg">
                        <p class="left_alt">梦幻西游</p>
                        <p class="left_title">游戏</p>
                        <p class="left_info">
                            2000年之后，中国互联网进入了“网游时代”。网络游戏在一定程度上改变了中国人对互联网的认知。而中国网络游戏的兴起与繁荣，既是必然也有偶然。
                        </p>

                    </div>
                    <div @mouseenter="change3" @mouseleave="leave3" class="shouye_shijian_two">
                            <img class="left_img" src="./img/taobao.jpg">
                            <p class="left_alt">淘宝</p>
                            <p class="left_title">购物</p>
                            <p class="left_info">
                                2003年5月10日，淘宝网诞生于浙江杭州的湖畔花园，2006年，淘宝网成为亚洲最大购物网站</p>
    
                        </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_two">
                        <img class="left_img" src="./img/xiongmao.jpg">
                        <p class="left_alt">熊猫烧香</p>
                        <p class="left_title">病毒</p>
                        <p class="left_info">
                            最有名的“本土”病毒当属2006年10月爆发的蠕虫病毒“熊猫烧香”了。中毒之后，计算机主界面上会出现一个举着三根香的虔诚的熊猫。
                        </p>

                    </div>
                    <div @mouseenter="change4" @mouseleave="leave4" class="shouye_shijian_two">
                            <img class="left_img" src="./img/weibo.jpg">
                            <p class="left_alt">微博</p>
                            <p class="left_title">微博</p>
                            <p class="left_info">
                                2009年下半年开始，各大门户网站开通或测试微博功能。自2009年8月上线以来，微博成为新浪最具想象力的新业务平台。新浪微博迅速成为社会化媒体平台一枝独秀的领跑者</p>
    
                        </div>
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_two">
                        <img class="left_img" src="./img/qq.jpg">
                        <p class="left_alt">通知</p>
                        <p class="left_title">3Q大战</p>
                        <p class="left_info">
                            　腾讯进军互联网安全领域，与360之间的战争不可避免地爆发了。11月5日，工信部、互联网协会等部门紧急出面，用行政命令的方式要求双方立即结束纷争。
                        </p>

                    </div>
                    <div @mouseenter="change5" @mouseleave="leave5" class="shouye_shijian_two">
                            <img class="left_img" src="./img/didi.jpg">
                            <p class="left_alt">滴滴打车</p>
                            <p class="left_title">出行</p>
                            <p class="left_info">
                                2014年上半年，“滴滴打车”和“快的打车”为了抢占市场，疯狂发放红包和补贴，仅仅4个月时间就烧掉了近24亿人民币。
                            </p>
    
                        </div>
    
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_two">
                        <img class="left_img" src="./img/share.jpg">
                        <p class="left_alt">共享单车</p>
                        <p class="left_title">共享经济</p>
                        <p class="left_info">
                            真正让共享经济走进日常生活，成为资本宠儿的是2016年下半年开始兴起的共享单车。摩拜、ofo两强争霸，小蓝、小鸣、永安行诸强林立的局面。
                        </p>

                    </div>
                 
                    <div @mouseenter="change6" @mouseleave="leave6" class="shouye_shijian_two">
                        <img class="left_img" src="./img/cloud.jpg">
                        <p class="left_alt">云计算</p>
                        <p class="left_title">云计算</p>
                        <p class="left_info">
                            云计算
                            是分布式计算的一种，指的是通过网络“云”将巨大的数据计算处理程序分解成无数个小程序，然后，通过多部服务器组成的系统进行处理和分析这些小程序得到结果并返回给用户。
                        </p>

                    </div>
                
            </div>
            <footer>
                <img class="footer_bgd" src="./img/footer_bgd.jpg">
                <p  style="font-size: 12px;color:#37474F;">
                    <span style="width:33%;text-align: center;" class="el-icon-message">
                        <a href="mailto:3529725395@qq.com">联系我们</a>
                    </span>
                    <span style="width:33%;text-align: center;" class="el-icon-info">
                       <a href="https://github.com/zpfnb/internet" target="_blank">关于我们</a>
                    </span>
                    <span style="width: 32%;text-align: center;" class="el-icon-view"> 
                        <a href="https://github.com/zpfnb/internet" target="_blank">网站代码</a>
                    </span>
                </p>

            </footer>
            <div class="buttom_buttom">

                <a class="beian" href="http://www.miitbeian.gov.cn" target="_blank">桂ICP备18010807号</a>
            </div>

        </div>
    </template>

    <!--政府组件-->
    <template id="zhengfu">
        <div>

            <el-tabs tab-position="top">

                <el-tab-pane>
                    <span slot="label"><i class="el-icon-date"></i> 概况</span>
                    <div class="zhengfu_gaikuang">
                        <h1>互联网+与政务服务</h1>
                        <div style="font-size: 13px; position: absolute;right: 50px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片1.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>互联网+政务服务是继2015年提出“互联网+”概念后，李克强总理在2016年的《政府工作报告》中提出了“互联网+政务服务”。其内涵是实现部门间数据共享，让居民和企业少跑腿、好办事、不添堵。我国已进入互联网时代，各级政府部门要大力推行“互联网+政务”，发展政府大数据，加快构建整体政府、智慧政府、互联政府、透明政府、开放政府和服务型政府等新型政府，进一步提高政府管理和公共服务水平。
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片8.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            从政府信息公开到政务公开，再到“互联网+政务服务”，政务公开对政务信息流通提出了更高的要求，在打造政府信息传播阵地的同时，也突破了“信息烟囱”“数据孤岛”等现象。以往只在部门之间流通的信息，如今必须在全平台流通；以往部门掌握的内部数据，如今必须在全领域共享。现在的政务公开平台已经不再是单纯的“消息集散地”，而是向着政务信息数据服务平台和便民服务平台的发展目标迈进。无论是政府网站的建设，还是政务新媒体的建设，都将实用性、服务性提升到了前所未有的高度，试图打造集信息公开、便民服务、互动交流、网上办事为一体的一网式公共服务平台。
                        </p>
                        </br>
                        <zhengfu_table></zhengfu_table>

                        </br></br>

                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>
                            <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:50px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>


                </el-tab-pane>

                <el-tab-pane>
                    <span slot="label"><i class="el-icon-s-opportunity"></i> 政务公开</span>
                    <div class="zhengfu_gaikuang">
                        <h1>政务公开</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片9.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>“互联网＋政务公开”简单地说就是政务服务也上网了，政务公开也是其中一种，这是利用现代化科技的方式，让政务服务能够跟上时代的步伐，也能够更好地服务群众，这样的一种服务方式不仅具有“加速度”，更能够让群众办事更省心、更便利。推进基层政务公开标准化规范化，旨在探索建立全国统一的政务公开标准体系，优化政务服务、提升政府效能。不少基层政府工作人员表示，互联网的出现，极大地推动了政务公开工作，提供了更多公开的“办法”，让基层政府部门与老百姓之间更好更方便地实现良性互动，让群众看得到、听得懂、能监督、好参与，实现政务公开真正利企便民。
                        </p>


                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片5.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br> </br>
                        <p>
                            长期以来，由于认识程度有局限、人员配备不到位、公开流程标准不明晰等原因，基层公开效果受到很大限制。可以说，政务公开工作重点在基层，难点也在基层。

                            让百姓满意，不是一句空话，有想法还得有办法。不少基层政府工作人员表示，互联网的出现，极大地推动了政务公开工作，提供了更多公开的“办法”，让基层政府部门与老百姓之间更好更方便地实现良性互动。
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./zhengfuImg/图片2.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div >


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>
                            <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                        </div>
                        <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>
    
                         </div>

                    </div>

                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-s-check"></i> 便民服务</span>
                    <div class="bianminfuwu">
                        <h1>互联网便民服务</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片3.png"
                            fit="fill">

                        </el-image>
                        </br>
                        <p>便民服务是指推进实体政务大厅与网上服务平台融合发展，线上线下功能相辅相成的政务服务新模式：适应“互联网+政务服务”发展需要，进一步提升实体政务大厅服务能力，引入社会力量，加快与网上服务平台融合，积极利用第三方平台，开展预约查询、证照寄送，以及在线支付等服务；形成线上线下功能互补、相辅相成的政务服务新模式；依法有序开放网上政务服务资源和数据，鼓励公众、企业和社会机构开发利用，提供多样化、创新性的便民服务
                        </p>
                        </br>
                        <el-image style="width:100%;height: 2096px;margin: 0 auto;" src="./zhengfuImg/图片4.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div >

                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>

                        </div>
                        <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:10px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>
                </el-tab-pane>
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-monitor"></i> 互联网政务</span>
                    <div class="bianminfuwu">
                        <h1>互联网政务</h1>

                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>

                        </br> </br> </br>
                        <el-image style="width:100%;;height:300px;margin: 0 auto;" src="./zhengfuImg/图片7.png"
                            fit="fill">

                        </el-image>
                        </br></br>
                        <p>互联网+政务的本质是指以政务服务平台为基础，以公共服务普惠化为主要内容，以实现智慧政府为目标，运用互联网技术、互联网思维与互联网精神，连接网络社会与现实社会，实现政府组织结构和办事流程的优化重组，构建集约化、高效化、透明化的政府治理与运行模式，向社会提供新模式、新境界、新治理结构下的管理和政务服务产品。互联网+政务服务呈现出在线化、云端化、移动化、数据活化、智能化、O2O化和自服务化7个特征。在线化主要解决政府的全方位服务；云端化主要是构建集群集约安全和高效的政府服务；移动化是为公众打造无所不在的掌上政府服务；数据活化主要是使数据流通到各个价值点，增强数据社会化应用的增值能力；智能化主要为公众提供简单、快捷、无技术与操作障碍的服务，实现了服务的普惠化；O2O化主要是实现线上线下服务的无缝对接；自服务化主要是满足公众自给自足的获取政务服务并推行众创众筹
                        </p>
                        </br>
                        <el-image style="width:100%;height: 300px;margin: 0 auto;" src="./zhengfuImg/图片5.png"
                            fit="fill">
                        </el-image>
                        </br>
                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div >


                            <el-badge :value="one_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>
                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>

                        </div>
                        <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                        <div style="margin-top:10px;margin-bottom:100px;">
                            <pinglun></pinglun>

                        </div>
                    </div>

                </el-tab-pane>
            </el-tabs>




        </div>
    </template>


    <!--通讯组件-->
    <template id="tongxun">
        <div>
            <el-tooltip class="item" effect="dark" hideAfter='4000' content="点击手机底部的输入框向Rone发送消息哦" placement="right">
                
                <div class="tongxun_phone">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Rone</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>

                    <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="请输入内容" size='mini'
                            style="width: 250px;margin-left: 10px;">
                        </el-input>
                        <el-button @click="sendmessageToRone" type="info" size="mini" style="width: 50px;margin:0;"
                            round>发送
                        </el-button>
                    </p>
                </div>
            </el-tooltip>

            <el-tooltip class="item" effect="dark" hideAfter='4000' content="点击手机底部的输入框向Jack发送消息哦" placement="left">


                <div class="tongxun_phone_right">
                    <img class="tongxun_phone_img" src="./tongxunImg/phone.jpg">

                    <p class="tongxun_phone_head"><i class="el-icon-back"></i><span>Jack</span><i
                            style="right: 15px;position:absolute;" class="el-icon-more"></i></p>

                    <div class="tongxun_phone_main">
                        <p class="tongxun_phone_main_info" v-for="item in person_one_list">
                            <span style="color: #263238;">{{item.name}}:</span>
                            {{item.info}}
                        </p>
                    </div>
                    <p class="tongxun_phone_foot">
                        <el-input v-model="person_one_input" maxlength="20" placeholder="请输入内容" size='mini'
                            style="width: 250px;margin-left: 10px;">
                        </el-input>
                        <el-button @click="sendmessageToJack" type="info" size="mini" style="width: 50px;margin:0;" round>发送
                        </el-button>
                    </p>
                </div>
            </el-tooltip>



        </div>
    </template>


    <!--文娱组件-->
    <template id="wenyu">
        <div>
            <p style="width: 200px;position:absolute;left:0;right:0;margin:auto;height:60px;top:40px;">

               
                   
                    <img style="width: 60px;height:60px;border-radius: 100%;border:1px solid black;"
                        src="./wenyuImg/图片1.png">
               
                <span style="line-height: 60px;height: 60px;position: absolute;top: 0;font-size: 19px;">互联网文娱</span>

            </p>

            <div style="width: 100%;position:absolute;left:0;right:0;margin:auto;top:100px;font-size: 14px;">
                <p style="height: 80px;text-indent: 30px;line-height: 30px;">
                    互联网文娱是由文学、影视、游戏、动漫、音乐、演出、衍生品等多元文化娱乐产业共同组成。依托互联网作为内容传播途径的泛娱乐内容服务构成了互联网文娱的内容领域。
                    </br>以下软件你用过多少呢？来给他们打个分吧！
                </p>
                <div class="card_container">
                    <div v-for="item in  all">

                        <el-card style="width: 90%;height:280px;margin-left: 5%;margin-bottom: 10px;">
                            <img style="width: 100%;height: 200px;margin:0;" :src="item.Imgsrc">
                            <span style="font-size:12px;">给</span>
                            <el-link type="primary" :href="item.src" target="_blank">{{ item.name }}</el-link>

                            <span style="width: 50px;font-size:12px;">评个分吧:</span>
                            <el-rate v-model="item.pingfen" style="width: 200px;"></el-rate>


                        </el-card>
                    </div>


                </div>
            </div>


        </div>
    </template>

    <!--购物出行组件-->
    <template id="gouwu">
        <div>
            <el-tabs tab-position="top">
                <!--购物-->
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-shopping-cart-2"></i> 购物</span>
                    <div class="zhengfu_gaikuang">
                        <h1>购物</h1>
                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <p>随着电子商务的发展，由传统的实体经营再到现在我们所熟知的诸如淘宝、京东等网络营销企业。</p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/taobao.png"
                            fit="fill" lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>网购模式日趋成熟，并逐渐影响着人们的消费方式和理念，推动着社会经济的发展和财富的积累。现阶段，随着网络时代的来临，人们的生活发生了翻天覆地的变化，由以往相对较封闭单一的生活方式变得越来越多样化，网络信息技术的发展，同时也为经济社会的发展带来了生机与活力。将网络技术运用到经济发展方面，不仅改变了我国的经济发展方式，与此同时，也使得人们的生活水平跨上一个新的台阶，人们的购物方式也在逐渐的进行扩充。
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片2.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            而另外一个方面，网购作为一种新兴的商业运作模式，因为其独特的购物方式以及其便捷快速、品种齐全、价格优惠的特点被消费者所喜爱，近几年来，我国的网络贸易总额也在不断攀升。
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/3.jpg" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br></br>

                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="two_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>

                            <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>
                </el-tab-pane>

                <!--出行-->
                <el-tab-pane>
                    <span slot="label"><i class="el-icon-bicycle"></i> 出行</span>
                    <div class="zhengfu_gaikuang">
                        <h1>出行</h1>
                        <div style="font-size: 13px; position: absolute;right: 20px;">
                            <span>2019-8-15</span> <span>作者:傅宇辉</span>
                            <el-divider></el-divider>
                        </div>
                        </br> </br> </br>
                        <p>2017年，人工智能、科技爆炸、互联网的加速进步，智能科技带来的变革已经无孔不入，在出行领域，除了传统的公共交通工具和私家车外，共享出行和网约车成为新的出行潮流。</p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片3.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>

                        </br> </br> </br>
                        <p>一线城市网民使用共享自行车APP比例最高
                            　注：1.一线城市：北京、上海、广州、深圳；2.新一线城市：成都、杭州、武汉、重庆、南京、天津、苏州、西安、长沙、沈阳、青岛、郑州、大连、东莞、宁波3.二线城市：省会城市
                            三线城市网民使用互联网约车最多
                        </p>

                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片4.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        </br>

                        </br> </br>
                        <p>
                            公交车和私家车使用最多，共享自行车表现突出，新能源汽车和共享汽车使用较少
                        </p>
                        </br>
                        <el-image style="width: 100%;height:300px;margin: 0 auto;" src="./gouwuImg/图片5.png" fit="fill"
                            lazy>
                            <div slot="placeholder" class="image-slot">
                                图片加载中<span class="dot">...</span>
                            </div>
                        </el-image>
                        <p>一线城市网民选择共享自行车上班比例最高</p>
                        </br></br>

                        <el-divider>看完文章点个赞吧<i class="el-icon-mouse"></i></el-divider>
                        <div>


                            <el-badge :value="two_zan" :max="99" class="item">
                                <el-button @click="add" size="small">给网页点个赞</el-button>
                            </el-badge>

                            <el-button onclick="share()" class="share-button" size="small"
                                style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                type="primary">分享</el-button>

                            <el-divider>评论下吧<i class="el-icon-mouse"></i></el-divider>
                            <div style="margin-top:10px;margin-bottom:100px;">
                                <pinglun></pinglun>

                            </div>

                        </div>

                    </div>
                </el-tab-pane>

            </el-tabs>
        </div>
    </template>


    <!--影响组件-->
    <template id="yingxiang">
            <div style="width: 100%;">
                
                <div style="width: 100%;position: absolute;margin:0;">
    
    
                    <el-collapse change="change" style="border-left: #409EFF 1px solid;" v-model="activeName" accordion>
                        <el-collapse-item name="1">
                            <template slot="title">
                                <p> 互联网对政府的影响<i class="header-icon el-icon-s-check"></i></p>
                            </template>
                            <div>
    
                                <div style="font-size: 15px;">
                                    <p>1.用互联网渠道，政府可以提高管理和服务的质量与效率，打造为人民服务的政府。</p>
                                    <p> 2.利用互联网平台，政府可以更好地接受人民的监督，促进科学，民主决策提高政府的公信力。</p>
                                    <p> 3.通过国家互联网体系，有利于开展政府间的国家合作；展示良好的国家形象。</p>
                                    <p>网络帮助老百姓做实事。因此网络对老百姓维权时起到了很重要的作用。同时互联网对政府的监督也起到重要的作用。没有互联网，政府就缺少了监督。</p>
                                </div>
    
                                <div style="height:500px;width: 100%;">
                                    <img src="./yingxiangImg/1.jpg" style="width: 100%;height:500px;">
                                   
                                </div>
                                <div style="height: 50px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item name="2">
                            <template slot="title">
                                <p> 互联网对企业的影响<i class="header-icon el-icon-s-shop"></i></p>
                            </template>
                            <div style="font-size: 15px;">
                                <p style="line-height: 30px;">
                                    互联网技术带来的改变，大家有目共睹。首先在营销层面，以前的营销是靠电视报纸，但现在的互联网和物流的发展，信息变得越来越透明，竞争从区域竞争向全国、全球蔓延。对于本身产品具有竞争力的企业来说，能够借机扩大规模，加快发展；但对于那些缺乏竞争力的企业来说，就面临短兵相接的激烈竞争。
                                </p>
                                <p style="line-height: 30px;">
                                    促进企业改革创新，实现传统行业升级，产生新的行业生态，改变旧的经营方式，拓宽企业发展渠道。企业通过建设互联网生态圈，能有效解决企业的互联网问题，抓住互联网+带来的机遇，实现新的发展。
                                </p>
                                <div style="height:500px;width: 100%;">
    
    
                                    <img src="./yingxiangImg/3.jpg" style="height: 500px;width:500px;">
                                   
    
                                </div>
                                <div style="height: 50px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
                        <el-collapse-item name="3">
                            <template slot="title">
                                <p> 互联网对个人的影响<i class="header-icon el-icon-user-solid"></i></p>
                            </template>
                            <div style="font-size: 14px;">
                                <p>1. 生活习惯的改变 互联网把人们的购物理念转向PC终端，而移动互联网则将把人们的购物理念转向了移动终端。</p>
                                <p>2. 信息传播更加畅通。 移动互联网解放了人们的双脚，不用座在电脑边也可以看到互联网上的信息。 </p>
                                <p>3. 娱乐移动化 你有没有过，早上醒来的第一件是拿起床头的手机看新闻、查天气；你有没有过在地铁、公交上翻阅手机里的电子书、股票、新闻，或是在疯狂的吃鸡,刷微博，王者荣耀，看直播
                                </p>
                                <div>
                                    <img src="./yingxiangImg/5.jpg" style="width: 400px;height:500px;">
                                   
                                </div>
                                <div style="height: 50px;">
    
    
                                    <el-badge :value="one_zan" :max="99" class="item">
                                        <el-button @click="add" size="small">给网页点个赞</el-button>
                                    </el-badge>
                                    <el-button onclick="share()" class="share-button" size="small"
                                        style="margin-top: 10px;position:absolute;right:20px;" icon="el-icon-share"
                                        type="primary">分享</el-button>
    
    
    
                                </div>
                            </div>
                        </el-collapse-item>
    
                    </el-collapse>
                </div>
             
            </div>
        </template>
    

    <!--未来组件-->
    <template id="weilai">
            <div style="display: flex;flex-wrap:wrap ;width: 90%;left: 5%;position: absolute;">
                <div class="weilai_img_container" @mouseenter="show1 = true" @mouseleave="show1 = false">
                   <img  src="./weilaiImg/3.png" style="height: 100%;width:100%;">               
                    <el-collapse-transition>
                            <div v-show="show1"  style="height: 50px;top:50px;left:30px;position: absolute;z-index: 999;">
                                <h5 style="font-size: 18px;">虚拟现实</h5>
                                <p style="font-size: 12px;">在虚拟世界体验最真实的感受</p>
                            </div>
                    </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show2 = true" @mouseleave="show2 = false">
                        <img  src="./weilaiImg/1.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show2"  style="height: 50px;top:270px;left:30px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 18px;">机器学习</h5>
                                     <p style="font-size: 12px;">独立,效率与生产力</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show3 = true" @mouseleave="show3 = false">
                        <img  src="./weilaiImg/2.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show3"  style="height: 50px;top:490px;left:30px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 18px;">万物互联</h5>
                                     <p style="font-size: 12px;">给企业，个人和国家创造新的功能</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show4 = true" @mouseleave="show4 = false">
                        <img  src="./weilaiImg/3.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show4"  style="height: 50px;top:710px;left:30px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 18px;">5G</h5>
                                     <p style="font-size: 12px;">不仅仅是速度</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show5 = true" @mouseleave="show5 = false">
                        <img  src="./weilaiImg/4.jpg" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show5"  style="height: 50px;top:930px;left:30px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 18px;">人工智能</h5>
                                     <p style="font-size: 12px;">智能机器与智能生活</p>
                                 </div>
                         </el-collapse-transition>
                </div>
                <div class="weilai_img_container" @mouseenter="show6 = true" @mouseleave="show6 = false">
                        <img  src="./weilaiImg/图片1.png" style="height: 100%;width:100%;">               
                         <el-collapse-transition>
                                 <div v-show="show6"  style="height: 50px;top:1150px;left:30px;position: absolute;z-index: 999;">
                                     <h5 style="font-size: 18px;">移动办公</h5>
                                     <p style="font-size: 12px;">休闲，效率，生产力</p>
                                 </div>
                         </el-collapse-transition>
                </div>
               
            </div>
        </template>

    <!--政府table组件-->
    <template id="zhengfu_table">
        <div>
            <p style="width: 100%;text-align:center;">2018年全国城市互联网+排行</p>
            <el-table :data="tableData" stripe style="width: 100%;">
                <el-table-column prop="date" label="城市" width="75">
                </el-table-column>
                <el-table-column prop="name" label="省份" width="100">
                </el-table-column>
                <el-table-column prop="address" label="互联网+总指数" >
                </el-table-column>
                <el-table-column prop="paiming" label="排名" width="100">
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--评论功能组件-->
    <template id="pinglun">
        <div >
            <el-input style="width: 100px;margin-bottom: 10px;" placeholder="评论人" suffix-icon="el-icon-user-solid" v-model="person">
            </el-input>
            <el-input style="width: 300px;" placeholder="评论内容" suffix-icon="el-icon-tickets" v-model="neirong">
            </el-input>
            <el-button type="primary" plain @click='addpinglun'>确定</el-button>

            <el-table :data="list" stripe highlight-current-row style="width: 100%">

                <el-table-column prop="person" label="评论人" width="100">
                </el-table-column>
                <el-table-column prop="neirong" label="评论内容">
                </el-table-column>
            </el-table>
        </div>
    </template>

    <!--引入js.js，swiper.js-->
    <script type="text/javascript" src="./js/js.js"></script>
    <script src="./js/swiper.min.js"></script>
    <script>

        var swiper = new Swiper({
            el: '.swiper-container',
            initialSlide: 2,
            spaceBetween: 50,
            slidesPerView: 1,
            centeredSlides: true,
            slideToClickedSlide: true,
            grabCursor: true,
            autoplay: true,

            mousewheel: {
                enabled: true,
            },
            keyboard: {
                enabled: true,
            },
            pagination: {
                el: '.swiper-pagination',

            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });

        function share() {
            alert('分享成功')
        }
    </script>
</body>

</html>